pipeline/pipeline/OpenTriggers.json
{
    "name": "OpenTriggers",
    "properties": {
        "activities": [
            {
                "name": "Open Triggers",
                "type": "Copy",
                "dependsOn": [
                    {
                        "activity": "Derive Status",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "DelimitedTextSource",
                        "additionalColumns": [
                            {
                                "name": "comment",
                                "value": ""
                            },
                            {
                                "name": "feedback",
                                "value": ""
                            }
                        ],
                        "storeSettings": {
                            "type": "AzureBlobFSReadSettings",
                            "recursive": true,
                            "wildcardFolderPath": {
                                "value": "@concat('alert_workflow/feedback_status_stage_one','/p_date=', pipeline().parameters.partitionValue)",
                                "type": "Expression"
                            },
                            "wildcardFileName": "*",
                            "enablePartitionDiscovery": false
                        },
                        "formatSettings": {
                            "type": "DelimitedTextReadSettings"
                        }
                    },
                    "sink": {
                        "type": "CosmosDbMongoDbApiSink",
                        "writeBatchTimeout": "02:30:00",
                        "writeBehavior": "upsert"
                    },
                    "enableStaging": false,
                    "translator": {
                        "type": "TabularTranslator",
                        "mappings": [
                            {
                                "source": {
                                    "name": "feedback",
                                    "type": "String"
                                },
                                "sink": {
                                    "path": "$['feedback']"
                                }
                            },
                            {
                                "source": {
                                    "name": "comment",
                                    "type": "String"
                                },
                                "sink": {
                                    "path": "$['comment']"
                                }
                            },
                            {
                                "source": {
                                    "name": "trigger_unique_id",
                                    "type": "String"
                                },
                                "sink": {
                                    "path": "$['trigger_unique_id']"
                                }
                            },
                            {
                                "source": {
                                    "name": "created_by",
                                    "type": "String"
                                },
                                "sink": {
                                    "path": "$['created_by']"
                                }
                            },
                            {
                                "source": {
                                    "name": "feedback_id",
                                    "type": "String"
                                },
                                "sink": {
                                    "path": "$['feedback_id']"
                                }
                            },
                            {
                                "source": {
                                    "name": "state",
                                    "type": "String"
                                },
                                "sink": {
                                    "path": "$['state']"
                                }
                            },
                            {
                                "source": {
                                    "name": "created_ts",
                                    "type": "String"
                                },
                                "sink": {
                                    "path": "$['created_ts']"
                                }
                            },
                            {
                                "source": {
                                    "name": "crn",
                                    "type": "String"
                                },
                                "sink": {
                                    "path": "$['crn']"
                                }
                            },
                            {
                                "source": {
                                    "name": "p_date",
                                    "type": "String"
                                },
                                "sink": {
                                    "path": "$['p_date']"
                                }
                            },
                            {
                                "source": {
                                    "name": "row_id",
                                    "type": "String"
                                },
                                "sink": {
                                    "path": "$['row_id']"
                                }
                            }
                        ]
                    }
                },
                "inputs": [
                    {
                        "referenceName": "feedback_state_store",
                        "type": "DatasetReference",
                        "parameters": {
                            "container": {
                                "value": "@variables('container')",
                                "type": "Expression"
                            },
                            "partitionValue": {
                                "value": "@pipeline().parameters.partitionValue",
                                "type": "Expression"
                            }
                        }
                    }
                ],
                "outputs": [
                    {
                        "referenceName": "cosmos_db_feedback_profile",
                        "type": "DatasetReference"
                    }
                ]
            },
            {
                "name": "Update Master Feedback Profile",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "Open Triggers",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "pipeline": {
                        "referenceName": "UpdateCrnStatus",
                        "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                        "partitionValue": {
                            "value": "@pipeline().parameters.partitionValue",
                            "type": "Expression"
                        }
                    }
                }
            },
            {
                "name": "Derive Status",
                "type": "ExecuteDataFlow",
                "dependsOn": [],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "dataflow": {
                        "referenceName": "OpenTriggerFlow",
                        "type": "DataFlowReference",
                        "parameters": {
                            "partitionValue": {
                                "value": "'@{pipeline().parameters.partitionValue}'",
                                "type": "Expression"
                            }
                        },
                        "datasetParameters": {
                            "ewsTrigger": {
                                "partitionValue": {
                                    "value": "@pipeline().parameters.partitionValue",
                                    "type": "Expression"
                                },
                                "subjectArea": "ews",
                                "container": {
                                    "value": "@variables('container')",
                                    "type": "Expression"
                                }
                            },
                            "loadAdls": {
                                "container": {
                                    "value": "@variables('container')",
                                    "type": "Expression"
                                },
                                "partitionValue": {
                                    "value": "@pipeline().parameters.partitionValue",
                                    "type": "Expression"
                                }
                            }
                        }
                    },
                    "compute": {
                        "coreCount": 8,
                        "computeType": "General"
                    },
                    "traceLevel": "Fine"
                }
            }
        ],
        "parameters": {
            "partitionValue": {
                "type": "string"
            }
        },
        "variables": {
            "container": {
                "type": "String",
                "defaultValue": "job-data"
            }
        },
        "folder": {
            "name": "PROD/alert_workflow"
        },
        "annotations": [],
        "lastPublishTime": "2022-11-14T09:28:30Z"
    },
    "type": "Microsoft.DataFactory/factories/pipelines"
}