pipeline/pipeline/stag2landing_RP_INPUT_TABLE.json
{
    "name": "stag2landing_RP_INPUT_TABLE",
    "properties": {
        "activities": [
            {
                "name": "RP_INPUT_TABLE",
                "type": "Copy",
                "dependsOn": [
                    {
                        "activity": "CHECK_BLOB_PARTITION_EXISTS_DELETE_AND_RECREATE",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "SybaseSource",
                        "query": "select  * into #rp from (\nSELECT H.\"BCIF_BANK Id\" as BCIF_BANKID, \ncase when A.PARENT_CP_ID=B.CP_ID then B.COUNTERPARTY_NAME \nwhen A.PARENT_CP_ID=c.PARENT_CP_ID then c.COUNTERPARTY_NAME\nwhen D.PARENT_CP_ID=c.CP_ID then D.COUNTERPARTY_NAME\nwhen F.CP_ID=E.RELATED_COUNTERPARTY_ID then F.COUNTERPARTY_NAME\nwhen G.CP_ID=E.COUNTERPARTY_ID then G.COUNTERPARTY_NAME else 'others' end as RELATED_ENTITY_NAME, \ncase when A.PARENT_CP_ID=B.CP_ID then 'Group Entities' \nwhen A.PARENT_CP_ID=c.PARENT_CP_ID then 'Group Entities' \nwhen D.PARENT_CP_ID=c.CP_ID then 'Subsidiary'\nwhen F.CP_ID=E.RELATED_COUNTERPARTY_ID then 'Promoters'\nwhen G.CP_ID=E.COUNTERPARTY_ID then 'Directors' else 'others' end as RELATIONSHIP\nFROM STG.STG_GLEMS_MVIEW_CP_DTLS A \nLEFT JOIN STG.STG_GLEMS_MVIEW_CP_DTLS B ON A.PARENT_CP_ID=B.CP_ID\nLEFT JOIN STG.STG_GLEMS_MVIEW_CP_DTLS C ON A.PARENT_CP_ID=c.PARENT_CP_ID\nLEFT JOIN STG.STG_GLEMS_MVIEW_CP_DTLS D ON D.PARENT_CP_ID=c.CP_ID\nLEFT JOIN STG.STG_GLEMS_MVIEW_CP_RLTD_DTLS E ON E.COUNTERPARTY_ID=a.CP_ID\nLEFT JOIN STG.STG_GLEMS_MVIEW_CP_DTLS F ON F.CP_ID=E.RELATED_COUNTERPARTY_ID\nLEFT JOIN STG.STG_GLEMS_MVIEW_CP_DTLS G ON G.CP_ID=E.COUNTERPARTY_ID\nLEFT JOIN (select distinct \"BCIF_BANK Id\", \"CP ID\"  from STG.STG_GLEMS_MVIEW_FAC_DTLS) H on A.CP_ID = H.\"CP ID\"\n)a\n\nselect distinct * from #rp where RELATIONSHIP != 'others' and RELATED_ENTITY_NAME != 'others' and BCIF_BANKID != ''"
                    },
                    "sink": {
                        "type": "DelimitedTextSink",
                        "storeSettings": {
                            "type": "AzureBlobFSWriteSettings"
                        },
                        "formatSettings": {
                            "type": "DelimitedTextWriteSettings",
                            "maxRowsPerFile": 300000,
                            "quoteAllText": true,
                            "fileExtension": ".csv"
                        }
                    },
                    "enableStaging": false,
                    "parallelCopies": 1,
                    "translator": {
                        "type": "TabularTranslator",
                        "typeConversion": true,
                        "typeConversionSettings": {
                            "allowDataTruncation": true,
                            "treatBooleanAsNumber": false
                        }
                    }
                },
                "inputs": [
                    {
                        "referenceName": "SybaseDataset_RP_INPUT_TABLE",
                        "type": "DatasetReference"
                    }
                ],
                "outputs": [
                    {
                        "referenceName": "csv_Derived_rpinput",
                        "type": "DatasetReference",
                        "parameters": {
                            "date2run": {
                                "value": "@pipeline().parameters.date2run",
                                "type": "Expression"
                            }
                        }
                    }
                ]
            },
            {
                "name": "CHECK_BLOB_PARTITION_EXISTS_DELETE_AND_RECREATE",
                "type": "ExecutePipeline",
                "dependsOn": [],
                "policy": {
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "pipeline": {
                        "referenceName": "Check_Blob_Load_date_wise_Delete_Activity_pipeline",
                        "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                        "date2run": {
                            "value": "@pipeline().parameters.date2run",
                            "type": "Expression"
                        },
                        "Blob_File_Path_Location": {
                            "value": "@variables('Blob_File_Path_Location')",
                            "type": "Expression"
                        }
                    }
                }
            }
        ],
        "parameters": {
            "date2run": {
                "type": "string",
                "defaultValue": "yyyyMMdd"
            }
        },
        "variables": {
            "Blob_File_Path_Location": {
                "type": "String",
                "defaultValue": "DERIVED_DATASETS/RP_INPUT_TABLE/load_date="
            }
        },
        "folder": {
            "name": "stag2landing_deriveddatasets"
        },
        "annotations": [],
        "lastPublishTime": "2022-04-11T12:58:00Z"
    },
    "type": "Microsoft.DataFactory/factories/pipelines"
}