pipeline/pipeline/stag2landing_KRAM_FINANCIAL_RATIOS.json
{
    "name": "stag2landing_KRAM_FINANCIAL_RATIOS",
    "properties": {
        "activities": [
            {
                "name": "KRAM_FINANCIAL_RATIOS",
                "type": "Copy",
                "dependsOn": [
                    {
                        "activity": "CHECK_BLOB_PARTITION_EXISTS_DELETE_AND_RECREATE",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "SybaseSource",
                        "query": "select * into #kramdata from (\nselect mc.company_code as \"COMPANY CODE\",\n       mc.company_name as \"COMPANY NAME\",\n        --mc.company_bankcode as \"CUSTOMER ID\",\n        mc.BCIF as \"CUSTOMER ID\",\n        --mm.m_name as \"MODEL NAME\",\n       ch.comp_inidate as \"INITATION DATE\",\n       ch.comp_datefinal as \"FINALISATION DATE\",dense_rank() over (PARTITION BY mc.company_code,mf.comp_findesc order by ch.comp_datefinal desc ) as RNK,\n       ch.comp_baseyear as \"BASE YEAR\",\n       ch.rating_year as \"RATING YEAR\",\n       mf.comp_findesc as \"LINEITEM\",\n       df.data2_year as \"FINACIAL YEAR\",\n       df.data2_value as \"VALUE\",\n       mf.comp_fincode as \"COMPANY FINCODE\",\nch.comp_casefinal as \"COMPANY CASE FINAL\",\nch.comp_model AS \"COMPANY MODEL\",\nch.comp_assesscode AS \"COMPANY ASSES CODE\"\n  from STG.STG_KRAM_MST_COMPANY   mc,\n       STG.STG_KRAM_COMP_HEADER   ch,\n       --STG.STG_KRAM_MST_MODEL     mm,\n       STG.STG_KRAM_MST_COMPFIN   mf,\n       STG.STG_KRAM_DATA_COMPFIN1 df\nwhere mc.company_code = ch.comp_compcode\n   and ch.comp_casefinal = 'Y'\n   and ch.comp_model = mc.company_mcode\n   --and mm.m_code='M10'\n--   and mc.company_mcode=mm.m_code\n   and df.data2_assesscode = ch.comp_assesscode\n   and df.data2_year = ch.comp_baseyear\n   and mf.comp_fincode = df.data2_compfincode\n   and mf.comp_mcode = ch.comp_model\n   and ch.comp_baseyear = 2020\n   and mc.BCIF in (select distinct \"BCIF_BANK Id\" from \"STG\".\"STG_GLEMS_MVIEW_FAC_DTLS\" where \"Limit Suffix\" in ('AJANT','ALKEM','BAIR','BANF','BC','BCCAP','BCCPX','BCCXP','BCD','BCL','BCLM','BCTL','BCWC','BG1','BG2','BG3','BG4','BGADH','BGBBD','BGFIN','BGLIM','BGPER','BGR2','BILLL','BLUEC','BUCR','BURCR','BUYCD','BUYCR','BUYER','BUYRC','BYCR','CADIL','CAPEX','CAPLC','CBDST','CC','CCOD','CHAN','CLNBI','CLNBL','CVVJK','DBAC1','DBAC2','DBAC5','DBDAC','DBDDW','DOMBD','DRWR','EBDMM','EBDTA','EBDTM','EBDTT','EBDVE','EPC','EPC1','EPC2','EPCCR','EPCFC','FACTO','FBD','FBN','FBP','FBP2','FBPAD','FDCLT','FLCIN','FRGNA','FRGNB','IDEA','ILCFL','IMCLR','IMSTR','INBAL','INDIS','INHHM','INMNM','INMUL','INOT1','INOT2','INOT3','INOT4','INOT6','INTAF','INTAS','INVAD','INVDF','INVDI','INVFI','INVO','INVPU','KCCL','LALOU','LC','LCBD','LCBDC','LCBDL','LCBDS','LCBL','LCCAP','LCCP1','LCCP2','LCCPX','LCFBL','LCIBL','LCIMP','LCIND','LCLIM','LCNPB','LCNSB','LCPBD','LCPXF','LCPXI','LCSBD','LCWC','LCWCF','LCWCI','LOTML','LOU','MEDLE','MICRO','MULDI','NICHO','OD','ODFD','ODHAN','PBD1','PBD2','PBUY1','PBUY2','PBUY3','PBUY4','PC','PCFC1','PCFC2','PCFCI','PCFCL','PCFCN','PCFCR','PCFCY','PCFRN','PCINR','PCLI','PCLIM','PCRUP','PCWC','PION','POBAL','POFUN','POHOS','POMNM','POMUL','POONA','POTML','PSC','PSCFC','PSCIN','PUR','PURC1','RECEV','RFACT','SBD1','SBD11','SBD2','SBD3','SBD4','SBD5','SBD6','SBDAL','SBDB','SBDCE','SBDGB','SBDMM','SBDS','SBDTM','SBLC','SBLCB','SBLCI','SBLCM','SBLCY','SIF','SPENG','STL','STLAD','STLCP','STLFC','STLL','STLLI','STLWD','SUNPH','SUPL','SUPP','TATA','TCD','TREDS','VAPIP','WCCLI','WCDL','WCDL2','WCDLA','WCDLD','WCDLM')) \n-- and LINEITEM in ('Net Sales','(I) Investments in Subsidiary companies/ affiliate','Total Networth','Sundry Creditors (Trade)','TANGIBLE NETWORTH', 'RECEIVABLES other than deferred & exports (Incl. b','Export Receivables (including bill purchased and d','Retention Money / Security Deposit')\n)a\n\nselect * from #kramdata where RNK=1"
                    },
                    "sink": {
                        "type": "DelimitedTextSink",
                        "storeSettings": {
                            "type": "AzureBlobFSWriteSettings"
                        },
                        "formatSettings": {
                            "type": "DelimitedTextWriteSettings",
                            "maxRowsPerFile": 300000,
                            "quoteAllText": true,
                            "fileExtension": ".csv"
                        }
                    },
                    "enableStaging": false,
                    "parallelCopies": 1,
                    "translator": {
                        "type": "TabularTranslator",
                        "typeConversion": true,
                        "typeConversionSettings": {
                            "allowDataTruncation": true,
                            "treatBooleanAsNumber": false
                        }
                    }
                },
                "inputs": [
                    {
                        "referenceName": "SybaseDataset_KRAM_FINANCIAL_RATIOS",
                        "type": "DatasetReference"
                    }
                ],
                "outputs": [
                    {
                        "referenceName": "csv_Derived_KRAM",
                        "type": "DatasetReference",
                        "parameters": {
                            "date2run": {
                                "value": "@pipeline().parameters.date2run",
                                "type": "Expression"
                            }
                        }
                    }
                ]
            },
            {
                "name": "CHECK_BLOB_PARTITION_EXISTS_DELETE_AND_RECREATE",
                "type": "ExecutePipeline",
                "dependsOn": [],
                "policy": {
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "pipeline": {
                        "referenceName": "Check_Blob_Load_date_wise_Delete_Activity_pipeline",
                        "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                        "date2run": {
                            "value": "@pipeline().parameters.date2run",
                            "type": "Expression"
                        },
                        "Blob_File_Path_Location": {
                            "value": "@variables('Blob_File_Path_Location')",
                            "type": "Expression"
                        }
                    }
                }
            }
        ],
        "parameters": {
            "date2run": {
                "type": "string",
                "defaultValue": "yyyyMMdd"
            }
        },
        "variables": {
            "Blob_File_Path_Location": {
                "type": "String",
                "defaultValue": "DERIVED_DATASETS/KRAM_FINANCIAL_RATIOS/load_date="
            }
        },
        "folder": {
            "name": "stag2landing_deriveddatasets"
        },
        "annotations": [],
        "lastPublishTime": "2022-04-11T12:58:00Z"
    },
    "type": "Microsoft.DataFactory/factories/pipelines"
}