pipeline/pipeline/stag2landing_LOS_WC_FINANCIAL_RATIOS.json
{
    "name": "stag2landing_LOS_WC_FINANCIAL_RATIOS",
    "properties": {
        "activities": [
            {
                "name": "LOS_WC_FINANCIAL_RATIOS",
                "type": "Copy",
                "dependsOn": [
                    {
                        "activity": "CHECK_BLOB_PARTITION_EXISTS_DELETE_AND_RECREATE",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "SybaseSource",
                        "query": "select DISTINCT * into #aa from (\nselect  T1.SZLOANAPPLNNO as LOAN_NUMBER,T1.SZRM AS RM_CODE,T2.SZREFERENCENO AS PARTY_ID,T1.FTOTLOANAMT AS OFFER_LOAN_AMOUNT,\nT5.FSANCTION_LTV_1 AS LTV1,T5.FSANCTION_LTV_2 as LTV2,T2.CINDCOMP AS INDIVIDUAL_ORGANISATION,\nT2.SZFNAME AS FIRST_NAME,T2.SZMNAME AS MIDDLE_NAME,T2.SZLNAME as LAST_NAME,T2.SZPARTYTYPE AS PARTY_TYPE,\nT1.ETL_LAST_UPDATED_TIME AS LOAN_NUMBER_ETL_LAST_UPDATED_TIME,\nT1.ETL_LAST_UPDATED_TIME AS RM_CODE_ETL_LAST_UPDATED_TIME,\nT2.ETL_LAST_UPDATED_TIME AS PARTY_ID_ETL_LAST_UPDATED_TIME,\nT1.ETL_LAST_UPDATED_TIME AS OFFER_LOAN_AMOUNT_ETL_LAST_UPDATED_TIME,\nT5.ETL_LAST_UPDATED_TIME AS LTV1_ETL_LAST_UPDATED_TIME,\nT5.ETL_LAST_UPDATED_TIME AS LTV2_ETL_LAST_UPDATED_TIME,\nT2.ETL_LAST_UPDATED_TIME AS INDIVIDUAL_ORGANISATION_ETL_LAST_UPDATED_TIME,\nT2.ETL_LAST_UPDATED_TIME AS FIRST_NAME_ETL_LAST_UPDATED_TIME,   \nT2.ETL_LAST_UPDATED_TIME AS MIDDLE_NAME_ETL_LAST_UPDATED_TIME,\nT2.ETL_LAST_UPDATED_TIME AS LAST_NAME_ETL_LAST_UPDATED_TIME,\nT2.ETL_LAST_UPDATED_TIME AS PARTY_TYPE_ETL_LAST_UPDATED_TIME\nfrom STG.STG_LOS_TR_LOANAPPLICATIONDETAILS T1\nLEFT JOIN STG.STG_LOS_TR_APPLICATIONWORKDETAILS T2 ON T1.SZLOANAPPLNNO=T2.SZLOANAPPLNNO\nLEFT JOIN STG.STG_BCIF_PARTY_FINANCIALS T3 ON T2.SZREFERENCENO=T3.PARTY_ID\nLEFT JOIN STG.STG_LOS_TR_CASE_BOUNDARIES T5 ON T1.SZLOANAPPLNNO=T5.SZLOANAPPLNNO \nwhere (PARTY_ID is not null or PARTY_ID!='')  and RM_CODE!='' and \nT1.ETL_CHANGE_FLAG <> 'D' and T2.ETL_CHANGE_FLAG <> 'D' and T3.ETL_CHANGE_FLAG <> 'D' and\nT5.ETL_CHANGE_FLAG <> 'D' and T2.SZPARTYTYPE in ('BORROWER','COBORROWER','GUARANTOR','SRL') \n--and T1.SZLOANAPPLNNO in ('WC15929316','WC15936687','WC15948129','WC15968269','WC15977358','WC15979176','WC15979539','WC15984498','WC15984692','WC16015542')\n)a\n\n\n--NETWORTH\nselect * into #bb from (\nselect T1.*,T2.FVALUE AS NETWORTH,T2.ETL_LAST_UPDATED_TIME AS NETWORTH_ETL_LAST_UPDATED_TIME \nfrom #aa T1 LEFT JOIN STG.STG_LOS_TR_ELG_APPLICANTINCOMEHEADER T2 ON T1.LOAN_NUMBER=T2.SZLOANAPPLNNO and T2.ETL_CHANGE_FLAG <> 'D'\nand T2.SZINCOMEHEADCODE in ('WC6A38','WCINS37'))a\n\n--TOTAL_INCOME\nselect * into #cc from (\nselect T1.*,T2.FVALUE AS TOTAL_INCOME,T2.ETL_LAST_UPDATED_TIME AS TOTAL_INCOME_ETL_LAST_UPDATED_TIME \nfrom #bb T1 LEFT JOIN STG.STG_LOS_TR_ELG_APPLICANTINCOMEHEADER T2 ON T1.LOAN_NUMBER=T2.SZLOANAPPLNNO and T2.ETL_CHANGE_FLAG <> 'D'\nand T2.SZINCOMEHEADCODE in ('WC6A13','WCINS12'))a\n\n\nselect DISTINCT * from #cc\n"
                    },
                    "sink": {
                        "type": "DelimitedTextSink",
                        "storeSettings": {
                            "type": "AzureBlobFSWriteSettings"
                        },
                        "formatSettings": {
                            "type": "DelimitedTextWriteSettings",
                            "maxRowsPerFile": 200000,
                            "quoteAllText": true,
                            "fileExtension": ".csv"
                        }
                    },
                    "enableStaging": false,
                    "parallelCopies": 1,
                    "translator": {
                        "type": "TabularTranslator",
                        "typeConversion": true,
                        "typeConversionSettings": {
                            "allowDataTruncation": true,
                            "treatBooleanAsNumber": false
                        }
                    }
                },
                "inputs": [
                    {
                        "referenceName": "SybaseDataset_LOS_WC_FINANCIAL_RATIOS",
                        "type": "DatasetReference"
                    }
                ],
                "outputs": [
                    {
                        "referenceName": "csv_Derived_LOS_WC_FR",
                        "type": "DatasetReference",
                        "parameters": {
                            "date2run": {
                                "value": "@pipeline().parameters.date2run",
                                "type": "Expression"
                            }
                        }
                    }
                ]
            },
            {
                "name": "CHECK_BLOB_PARTITION_EXISTS_DELETE_AND_RECREATE",
                "type": "ExecutePipeline",
                "dependsOn": [],
                "policy": {
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "pipeline": {
                        "referenceName": "Check_Blob_Load_date_wise_Delete_Activity_pipeline",
                        "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                        "date2run": {
                            "value": "@pipeline().parameters.date2run",
                            "type": "Expression"
                        },
                        "Blob_File_Path_Location": {
                            "value": "@variables('Blob_File_Path_Location')",
                            "type": "Expression"
                        }
                    }
                }
            }
        ],
        "parameters": {
            "date2run": {
                "type": "string",
                "defaultValue": "yyyyMMdd"
            }
        },
        "variables": {
            "Blob_File_Path_Location": {
                "type": "String",
                "defaultValue": "DERIVED_DATASETS/LOS_WC_FINANCIAL_RATIOS/load_date="
            }
        },
        "folder": {
            "name": "stag2landing_deriveddatasets"
        },
        "annotations": [],
        "lastPublishTime": "2024-09-14T10:05:07Z"
    },
    "type": "Microsoft.DataFactory/factories/pipelines"
}