pipeline/pipeline/stag2landing_LOS_BL_CONSUMER.json
{
    "name": "stag2landing_LOS_BL_CONSUMER",
    "properties": {
        "activities": [
            {
                "name": "LOS_BL_CONSUMER",
                "type": "Copy",
                "dependsOn": [
                    {
                        "activity": "CHECK_BLOB_PARTITION_EXISTS_DELETE_AND_RECREATE",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "SybaseSource",
                        "query": "select LOAN_NUM,CRN,INCOME_HEADCODE,ISRLNO,Total_Income AS Turnover,Sources_of_Working_capital AS Working_Capital_Borrowings_Short_Term_Borrowing,\nClosing_stock AS Inventory,Debtors AS Receivables,Cash_bank_Balances AS Cash_Cash_equivalent,\nLong_term_Debts_Secured+Long_term_Debts_Unsecured+Sources_of_Working_capital AS Total_borrowings,\nLoans_Advances+Advance_tax_Tax_deducted_at_source  AS Other_Current_Assets,\nLong_term_Debts_Secured_1,Long_term_Debts_Unsecured_1,Debtors_1 AS Receivables_1,Cash_bank_Balances_1 AS Cash_Cash_equivalent_1,\nAdvance_tax_Tax_deducted_at_source_1,\nTotal_Income_1 AS Turnover_1\nfrom (\nselect DISTINCT T1.SZLOANAPPLNNO AS LOAN_NUM,T2.SZREFERENCENO as CRN,T1.SZINCOMEHEADCODE AS INCOME_HEADCODE,T1.ISRLNO,\n(CASE WHEN T1.SZINCOMEHEADCODE IN ('DLB34','DLB35','DLB36') THEN T1.FVALUE END) AS Total_Income,\n(CASE WHEN T1.SZINCOMEHEADCODE IN ('DLU34','DLU35','DLU36') THEN T1.FVALUE END) AS Long_term_Debts_Secured,\n(CASE WHEN T1.SZINCOMEHEADCODE IN ('DLU37','DLU38','DLU39') THEN T1.FVALUE END) AS Long_term_Debts_Unsecured,\n(CASE WHEN T1.SZINCOMEHEADCODE IN ('DLU61','DLU62','DLU63') THEN T1.FVALUE END) AS Closing_stock,\n(CASE WHEN T1.SZINCOMEHEADCODE IN ('DLU64','DLU65','DLU66') THEN T1.FVALUE END) AS Debtors,\n(CASE WHEN T1.SZINCOMEHEADCODE IN ('DLU67','DLU68','DLU69') THEN T1.FVALUE END) AS Loans_Advances,\n(CASE WHEN T1.SZINCOMEHEADCODE IN ('DLU70','DLU71','DLU72') THEN T1.FVALUE END) AS Cash_bank_Balances,\n(CASE WHEN T1.SZINCOMEHEADCODE IN ('DLU73','DLU74','DLU75') THEN T1.FVALUE END) AS Advance_tax_Tax_deducted_at_source,\n(CASE WHEN T1.SZINCOMEHEADCODE IN ('DLU94','DLU95','DLU96') THEN T1.FVALUE END) AS Sources_of_Working_capital,\n(CASE WHEN T1.SZINCOMEHEADCODE IN ('U34','U35','U36') THEN T1.FVALUE END) AS Long_term_Debts_Secured_1,\n(CASE WHEN T1.SZINCOMEHEADCODE IN ('U37','U38','U39') THEN T1.FVALUE END) AS Long_term_Debts_Unsecured_1,\n(CASE WHEN T1.SZINCOMEHEADCODE IN ('U64','U65','U66') THEN T1.FVALUE END) AS Debtors_1,\n(CASE WHEN T1.SZINCOMEHEADCODE IN ('U67','U68','U69') THEN T1.FVALUE END) AS Loans_Advances_1,\n(CASE WHEN T1.SZINCOMEHEADCODE IN ('U70','U71','U72') THEN T1.FVALUE END) AS Cash_bank_Balances_1,\n(CASE WHEN T1.SZINCOMEHEADCODE IN ('U73','U74','U75') THEN T1.FVALUE END) AS Advance_tax_Tax_deducted_at_source_1,\n(CASE WHEN T1.SZINCOMEHEADCODE IN ('WC6A13','WC6A14','WC6A15') THEN T1.FVALUE END) AS Total_Income_1\n\nfrom STG.STG_LOS_TR_ELG_APPLICANTINCOMEHEADER T1 LEFT JOIN STG.STG_LOS_TR_APPLICATIONWORKDETAILS T2 ON T1.SZLOANAPPLNNO=T2.SZLOANAPPLNNO\nwhere T1.ETL_CHANGE_FLAG<>'D' and T2.ETL_CHANGE_FLAG<>'D' AND T1.SZLOANAPPLNNO LIKE 'BL%'\nand T1.SZINCOMEHEADCODE IN ('DLB34','DLB35','DLB36','DLU34','DLU35','DLU36','DLU37','DLU38','DLU39','DLU61','DLU62','DLU63','DLU64','DLU65','DLU66',\n'DLU67','DLU68','DLU69','DLU70','DLU71','DLU72','DLU73','DLU74','DLU75','DLU94','DLU95','DLU96','U34','U35','U36','U37','U38','U39','U64','U65','U66',\n'U67','U68','U69','U70','U71','U72','U73','U74','U75','WC6A13','WC6A14','WC6A15')\nAND T2.SZPARTYTYPE='BORROWER')A"
                    },
                    "sink": {
                        "type": "DelimitedTextSink",
                        "storeSettings": {
                            "type": "AzureBlobFSWriteSettings"
                        },
                        "formatSettings": {
                            "type": "DelimitedTextWriteSettings",
                            "maxRowsPerFile": 300000,
                            "quoteAllText": true,
                            "fileExtension": ".csv"
                        }
                    },
                    "enableStaging": false,
                    "parallelCopies": 1,
                    "translator": {
                        "type": "TabularTranslator",
                        "typeConversion": true,
                        "typeConversionSettings": {
                            "allowDataTruncation": true,
                            "treatBooleanAsNumber": false
                        }
                    }
                },
                "inputs": [
                    {
                        "referenceName": "SybaseDataset_LOS_BL_FINANCIAL_RATIOS",
                        "type": "DatasetReference"
                    }
                ],
                "outputs": [
                    {
                        "referenceName": "csv_Derived_LOS_BL_CONSUMER",
                        "type": "DatasetReference",
                        "parameters": {
                            "date2run": {
                                "value": "@pipeline().parameters.date2run",
                                "type": "Expression"
                            }
                        }
                    }
                ]
            },
            {
                "name": "CHECK_BLOB_PARTITION_EXISTS_DELETE_AND_RECREATE",
                "type": "ExecutePipeline",
                "dependsOn": [],
                "policy": {
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "pipeline": {
                        "referenceName": "Check_Blob_Load_date_wise_Delete_Activity_pipeline",
                        "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                        "date2run": {
                            "value": "@pipeline().parameters.date2run",
                            "type": "Expression"
                        },
                        "Blob_File_Path_Location": {
                            "value": "@variables('Blob_File_Path_Location')",
                            "type": "Expression"
                        }
                    }
                }
            }
        ],
        "parameters": {
            "date2run": {
                "type": "string",
                "defaultValue": "yyyyMMdd"
            }
        },
        "variables": {
            "Blob_File_Path_Location": {
                "type": "String",
                "defaultValue": "DERIVED_DATASETS/LOS_BL_CONSUMER/load_date="
            }
        },
        "folder": {
            "name": "stag2landing_deriveddatasets"
        },
        "annotations": [],
        "lastPublishTime": "2023-02-21T13:09:33Z"
    },
    "type": "Microsoft.DataFactory/factories/pipelines"
}