pipeline/CadenzProfile.json
{
    "name": "CadenzProfile",
    "properties": {
        "activities": [
            {
                "name": "customer_base",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "prepare_jars_and_configs",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "pipeline": {
                        "referenceName": "EntityProcessing",
                        "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                        "jobExecutionType": "entity",
                        "partitionValue": {
                            "value": "@pipeline().parameters.partitionValue",
                            "type": "Expression"
                        },
                        "markerRootPath": {
                            "value": "@variables('markerRootPath')",
                            "type": "Expression"
                        },
                        "jobSubjectArea": "customer_base",
                        "cosmosDatabaseName": {
                            "value": "@variables('cosmosDatabaseName')",
                            "type": "Expression"
                        }
                    }
                }
            },
            {
                "name": "master_profile",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "customer",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    },
                    {
                        "activity": "facility",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    },
                    {
                        "activity": "limit",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    },
                    {
                        "activity": "transaction_mining_trigger_brd3",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "pipeline": {
                        "referenceName": "ProcessingAndPopulating",
                        "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                        "partitionValue": {
                            "value": "@pipeline().parameters.partitionValue",
                            "type": "Expression"
                        },
                        "jobExecutionType": "profile",
                        "jobSubjectArea": "master",
                        "cosmosDatabaseName": {
                            "value": "@variables('cosmosDatabaseName')",
                            "type": "Expression"
                        },
                        "markerRootPath": {
                            "value": "@variables('markerRootPath')",
                            "type": "Expression"
                        },
                        "schema": {
                            "value": "@variables('schema')",
                            "type": "Expression"
                        },
                        "container": {
                            "value": "@variables('container')",
                            "type": "Expression"
                        }
                    }
                }
            },
            {
                "name": "customer",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "customer_base",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    },
                    {
                        "activity": "crn_lob",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "pipeline": {
                        "referenceName": "ProcessingAndPopulating",
                        "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                        "partitionValue": {
                            "value": "@pipeline().parameters.partitionValue",
                            "type": "Expression"
                        },
                        "jobExecutionType": "derived_entity",
                        "jobSubjectArea": "customer",
                        "cosmosDatabaseName": {
                            "value": "@variables('cosmosDatabaseName')",
                            "type": "Expression"
                        },
                        "markerRootPath": {
                            "value": "@variables('markerRootPath')",
                            "type": "Expression"
                        },
                        "schema": {
                            "value": "@variables('schema')",
                            "type": "Expression"
                        },
                        "container": {
                            "value": "@variables('container')",
                            "type": "Expression"
                        }
                    }
                }
            },
            {
                "name": "rp_ews_input_table",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "customer_base",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "pipeline": {
                        "referenceName": "ProcessingAndPopulating",
                        "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                        "partitionValue": {
                            "value": "@pipeline().parameters.partitionValue",
                            "type": "Expression"
                        },
                        "jobExecutionType": "derived_entity",
                        "jobSubjectArea": "rp_ews_input_table",
                        "cosmosDatabaseName": {
                            "value": "@variables('cosmosDatabaseName')",
                            "type": "Expression"
                        },
                        "markerRootPath": {
                            "value": "@variables('markerRootPath')",
                            "type": "Expression"
                        },
                        "schema": {
                            "value": "@variables('schema')",
                            "type": "Expression"
                        },
                        "container": {
                            "value": "@variables('container')",
                            "type": "Expression"
                        }
                    }
                }
            },
            {
                "name": "transaction_mining",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "borrower_customers",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    },
                    {
                        "activity": "borrower_vendors",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    },
                    {
                        "activity": "trn_int_trigger",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    },
                    {
                        "activity": "crn_int_trigger",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    },
                    {
                        "activity": "rp_union_input_table",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    },
                    {
                        "activity": "customer",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    },
                    {
                        "activity": "monthly_stock_statement",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    },
                    {
                        "activity": "monthly_kram_entity",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    },
                    {
                        "activity": "Load Self Transfer Feedback",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "pipeline": {
                        "referenceName": "TransactionMining",
                        "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                        "partitionValue": {
                            "value": "@pipeline().parameters.partitionValue",
                            "type": "Expression"
                        },
                        "cosmosDatabaseName": {
                            "value": "@variables('cosmosDatabaseName')",
                            "type": "Expression"
                        },
                        "jobSubjectArea": "txn_mining_output_table",
                        "jobExecutionType": "entity",
                        "markerRootPath": {
                            "value": "@variables('markerRootPath')",
                            "type": "Expression"
                        },
                        "schema": {
                            "value": "@variables('schema')",
                            "type": "Expression"
                        },
                        "container": {
                            "value": "@variables('container')",
                            "type": "Expression"
                        }
                    }
                }
            },
            {
                "name": "customer_and_suppliers",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "prepare_jars_and_configs",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "pipeline": {
                        "referenceName": "EntityProcessing",
                        "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                        "jobExecutionType": "entity",
                        "partitionValue": {
                            "value": "@pipeline().parameters.partitionValue",
                            "type": "Expression"
                        },
                        "markerRootPath": {
                            "value": "@variables('markerRootPath')",
                            "type": "Expression"
                        },
                        "jobSubjectArea": "customer_and_suppliers",
                        "cosmosDatabaseName": {
                            "value": "@variables('cosmosDatabaseName')",
                            "type": "Expression"
                        }
                    }
                }
            },
            {
                "name": "borrower_customers",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "customer_and_suppliers",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "pipeline": {
                        "referenceName": "ProcessingAndPopulating",
                        "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                        "partitionValue": {
                            "value": "@pipeline().parameters.partitionValue",
                            "type": "Expression"
                        },
                        "jobExecutionType": "derived_entity",
                        "jobSubjectArea": "borrower_customers",
                        "cosmosDatabaseName": {
                            "value": "@variables('cosmosDatabaseName')",
                            "type": "Expression"
                        },
                        "markerRootPath": {
                            "value": "@variables('markerRootPath')",
                            "type": "Expression"
                        },
                        "schema": {
                            "value": "@variables('schema')",
                            "type": "Expression"
                        },
                        "container": {
                            "value": "@variables('container')",
                            "type": "Expression"
                        }
                    }
                }
            },
            {
                "name": "borrower_vendors",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "customer_and_suppliers",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "pipeline": {
                        "referenceName": "ProcessingAndPopulating",
                        "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                        "partitionValue": {
                            "value": "@pipeline().parameters.partitionValue",
                            "type": "Expression"
                        },
                        "jobExecutionType": "derived_entity",
                        "jobSubjectArea": "borrower_vendors",
                        "cosmosDatabaseName": {
                            "value": "@variables('cosmosDatabaseName')",
                            "type": "Expression"
                        },
                        "markerRootPath": {
                            "value": "@variables('markerRootPath')",
                            "type": "Expression"
                        },
                        "schema": {
                            "value": "@variables('schema')",
                            "type": "Expression"
                        },
                        "container": {
                            "value": "@variables('container')",
                            "type": "Expression"
                        }
                    }
                }
            },
            {
                "name": "ews_profile",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "customer",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    },
                    {
                        "activity": "transaction_mining_trigger_brd3",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "pipeline": {
                        "referenceName": "ProcessingAndPopulating",
                        "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                        "partitionValue": {
                            "value": "@pipeline().parameters.partitionValue",
                            "type": "Expression"
                        },
                        "jobExecutionType": "profile",
                        "jobSubjectArea": "ews",
                        "cosmosDatabaseName": {
                            "value": "@variables('cosmosDatabaseName')",
                            "type": "Expression"
                        },
                        "markerRootPath": {
                            "value": "@variables('markerRootPath')",
                            "type": "Expression"
                        },
                        "schema": {
                            "value": "@variables('schema')",
                            "type": "Expression"
                        },
                        "container": {
                            "value": "@variables('container')",
                            "type": "Expression"
                        }
                    }
                }
            },
            {
                "name": "stg_finacle_gam",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "prepare_jars_and_configs",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "pipeline": {
                        "referenceName": "EntityProcessing",
                        "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                        "jobExecutionType": "entity",
                        "partitionValue": {
                            "value": "@pipeline().parameters.partitionValue",
                            "type": "Expression"
                        },
                        "markerRootPath": {
                            "value": "@variables('markerRootPath')",
                            "type": "Expression"
                        },
                        "jobSubjectArea": "stg_finacle_gam",
                        "cosmosDatabaseName": {
                            "value": "@variables('cosmosDatabaseName')",
                            "type": "Expression"
                        }
                    }
                }
            },
            {
                "name": "crn_int_trigger",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "customer_base",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    },
                    {
                        "activity": "customer",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    },
                    {
                        "activity": "crn_lob",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "pipeline": {
                        "referenceName": "ProcessingAndPopulating",
                        "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                        "partitionValue": {
                            "value": "@pipeline().parameters.partitionValue",
                            "type": "Expression"
                        },
                        "jobExecutionType": "derived_entity",
                        "jobSubjectArea": "crn_int_trigger",
                        "cosmosDatabaseName": {
                            "value": "@variables('cosmosDatabaseName')",
                            "type": "Expression"
                        },
                        "markerRootPath": {
                            "value": "@variables('markerRootPath')",
                            "type": "Expression"
                        },
                        "schema": {
                            "value": "@variables('schema')",
                            "type": "Expression"
                        },
                        "container": {
                            "value": "@variables('container')",
                            "type": "Expression"
                        }
                    }
                }
            },
            {
                "name": "trn_int_trigger",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "stg_finacle_gam",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "pipeline": {
                        "referenceName": "ProcessingAndPopulating",
                        "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                        "partitionValue": {
                            "value": "@pipeline().parameters.partitionValue",
                            "type": "Expression"
                        },
                        "jobExecutionType": "derived_entity",
                        "jobSubjectArea": "trn_int_trigger",
                        "cosmosDatabaseName": {
                            "value": "@variables('cosmosDatabaseName')",
                            "type": "Expression"
                        },
                        "markerRootPath": {
                            "value": "@variables('markerRootPath')",
                            "type": "Expression"
                        },
                        "schema": {
                            "value": "@variables('schema')",
                            "type": "Expression"
                        },
                        "container": {
                            "value": "@variables('container')",
                            "type": "Expression"
                        }
                    }
                }
            },
            {
                "name": "rp_union_input_table",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "rp_ews_input_table",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    },
                    {
                        "activity": "borrower_customers",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    },
                    {
                        "activity": "borrower_vendors",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    },
                    {
                        "activity": "rp_input_table_ui",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "pipeline": {
                        "referenceName": "ProcessingAndPopulating",
                        "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                        "partitionValue": {
                            "value": "@pipeline().parameters.partitionValue",
                            "type": "Expression"
                        },
                        "jobExecutionType": "derived_entity",
                        "jobSubjectArea": "rp_union_input_table",
                        "cosmosDatabaseName": {
                            "value": "@variables('cosmosDatabaseName')",
                            "type": "Expression"
                        },
                        "markerRootPath": {
                            "value": "@variables('markerRootPath')",
                            "type": "Expression"
                        },
                        "schema": {
                            "value": "@variables('schema')",
                            "type": "Expression"
                        },
                        "container": {
                            "value": "@variables('container')",
                            "type": "Expression"
                        }
                    }
                }
            },
            {
                "name": "transaction_view",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "trn_int_trigger",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    },
                    {
                        "activity": "transaction",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    },
                    {
                        "activity": "populateSynapseTriggerName",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    },
                    {
                        "activity": "populateSynapseMiningOutput",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    },
                    {
                        "activity": "populateSynapseCrnOutTriggerDetail",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    },
                    {
                        "activity": "populateSynapseTrnOutTrigger",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "pipeline": {
                        "referenceName": "TransactionView",
                        "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                        "schema": {
                            "value": "@variables('schema')",
                            "type": "Expression"
                        },
                        "partitionValue": {
                            "value": "@pipeline().parameters.partitionValue",
                            "type": "Expression"
                        }
                    }
                }
            },
            {
                "name": "prepare_jars_and_configs",
                "type": "ExecutePipeline",
                "dependsOn": [],
                "policy": {
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "pipeline": {
                        "referenceName": "PrepareJarsAndConfigs",
                        "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                        "uat_flag": "false",
                        "container": {
                            "value": "@variables('container')",
                            "type": "Expression"
                        }
                    }
                }
            },
            {
                "name": "transaction",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "stg_finacle_gam",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "pipeline": {
                        "referenceName": "ProcessingAndPopulating",
                        "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                        "partitionValue": {
                            "value": "@pipeline().parameters.partitionValue",
                            "type": "Expression"
                        },
                        "jobExecutionType": "derived_entity",
                        "jobSubjectArea": "transaction",
                        "cosmosDatabaseName": {
                            "value": "@variables('cosmosDatabaseName')",
                            "type": "Expression"
                        },
                        "markerRootPath": {
                            "value": "@variables('markerRootPath')",
                            "type": "Expression"
                        },
                        "schema": {
                            "value": "@variables('schema')",
                            "type": "Expression"
                        },
                        "container": {
                            "value": "@variables('container')",
                            "type": "Expression"
                        }
                    }
                }
            },
            {
                "name": "financial_ratio",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "customer_base",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "pipeline": {
                        "referenceName": "ProcessingAndPopulating",
                        "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                        "partitionValue": {
                            "value": "@pipeline().parameters.partitionValue",
                            "type": "Expression"
                        },
                        "jobExecutionType": "derived_entity",
                        "jobSubjectArea": "financial_ratio",
                        "cosmosDatabaseName": {
                            "value": "@variables('cosmosDatabaseName')",
                            "type": "Expression"
                        },
                        "markerRootPath": {
                            "value": "@variables('markerRootPath')",
                            "type": "Expression"
                        },
                        "schema": {
                            "value": "@variables('schema')",
                            "type": "Expression"
                        },
                        "container": {
                            "value": "@variables('container')",
                            "type": "Expression"
                        }
                    }
                }
            },
            {
                "name": "facility",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "stg_glems_mview_fac_dtls",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "pipeline": {
                        "referenceName": "ProcessingAndPopulating",
                        "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                        "partitionValue": {
                            "value": "@pipeline().parameters.partitionValue",
                            "type": "Expression"
                        },
                        "jobExecutionType": "derived_entity",
                        "jobSubjectArea": "facility",
                        "cosmosDatabaseName": {
                            "value": "@variables('cosmosDatabaseName')",
                            "type": "Expression"
                        },
                        "markerRootPath": {
                            "value": "@variables('markerRootPath')",
                            "type": "Expression"
                        },
                        "schema": {
                            "value": "@variables('schema')",
                            "type": "Expression"
                        },
                        "container": {
                            "value": "@variables('container')",
                            "type": "Expression"
                        }
                    }
                }
            },
            {
                "name": "limit",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "stg_glems_mview_fac_dtls",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "pipeline": {
                        "referenceName": "ProcessingAndPopulating",
                        "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                        "partitionValue": {
                            "value": "@pipeline().parameters.partitionValue",
                            "type": "Expression"
                        },
                        "jobExecutionType": "derived_entity",
                        "jobSubjectArea": "limit",
                        "cosmosDatabaseName": {
                            "value": "@variables('cosmosDatabaseName')",
                            "type": "Expression"
                        },
                        "markerRootPath": {
                            "value": "@variables('markerRootPath')",
                            "type": "Expression"
                        },
                        "schema": {
                            "value": "@variables('schema')",
                            "type": "Expression"
                        },
                        "container": {
                            "value": "@variables('container')",
                            "type": "Expression"
                        }
                    }
                }
            },
            {
                "name": "stg_glems_mview_fac_dtls",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "prepare_jars_and_configs",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "pipeline": {
                        "referenceName": "EntityProcessing",
                        "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                        "jobExecutionType": "entity",
                        "partitionValue": {
                            "value": "@pipeline().parameters.partitionValue",
                            "type": "Expression"
                        },
                        "markerRootPath": {
                            "value": "@variables('markerRootPath')",
                            "type": "Expression"
                        },
                        "jobSubjectArea": "stg_glems_mview_fac_dtls",
                        "cosmosDatabaseName": {
                            "value": "@variables('cosmosDatabaseName')",
                            "type": "Expression"
                        }
                    }
                }
            },
            {
                "name": "populateSynapseMiningOutput",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "transaction_mining_trigger_brd3",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "pipeline": {
                        "referenceName": "SynapseConsumptionLayerProcessing",
                        "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                        "partitionValue": {
                            "value": "@pipeline().parameters.partitionValue",
                            "type": "Expression"
                        },
                        "markerRootPath": {
                            "value": "@variables('markerRootPath')",
                            "type": "Expression"
                        },
                        "jobSubjectArea": "txn_mining_output_table",
                        "schema": {
                            "value": "@variables('schema')",
                            "type": "Expression"
                        },
                        "container": {
                            "value": "@variables('container')",
                            "type": "Expression"
                        }
                    }
                }
            },
            {
                "name": "populateSynapseTriggerName",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "transaction_mining_trigger_brd3",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "pipeline": {
                        "referenceName": "SynapseConsumptionLayerProcessing",
                        "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                        "partitionValue": {
                            "value": "@pipeline().parameters.partitionValue",
                            "type": "Expression"
                        },
                        "markerRootPath": {
                            "value": "@variables('markerRootPath')",
                            "type": "Expression"
                        },
                        "jobSubjectArea": "trigger_name",
                        "schema": {
                            "value": "@variables('schema')",
                            "type": "Expression"
                        },
                        "container": {
                            "value": "@variables('container')",
                            "type": "Expression"
                        }
                    }
                }
            },
            {
                "name": "populateSynapseCrnOutTriggerDetail",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "transaction_mining_trigger_brd3",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "pipeline": {
                        "referenceName": "SynapseConsumptionLayerProcessing",
                        "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                        "partitionValue": {
                            "value": "@pipeline().parameters.partitionValue",
                            "type": "Expression"
                        },
                        "markerRootPath": {
                            "value": "@variables('markerRootPath')",
                            "type": "Expression"
                        },
                        "jobSubjectArea": "crn_out_trigger_detail",
                        "schema": {
                            "value": "@variables('schema')",
                            "type": "Expression"
                        },
                        "container": {
                            "value": "@variables('container')",
                            "type": "Expression"
                        }
                    }
                }
            },
            {
                "name": "crn_lob",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "customer_base",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "pipeline": {
                        "referenceName": "ProcessingAndPopulating",
                        "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                        "partitionValue": {
                            "value": "@pipeline().parameters.partitionValue",
                            "type": "Expression"
                        },
                        "jobExecutionType": "derived_entity",
                        "jobSubjectArea": "crn_lob",
                        "cosmosDatabaseName": {
                            "value": "@variables('cosmosDatabaseName')",
                            "type": "Expression"
                        },
                        "markerRootPath": {
                            "value": "@variables('markerRootPath')",
                            "type": "Expression"
                        },
                        "schema": {
                            "value": "@variables('schema')",
                            "type": "Expression"
                        },
                        "container": {
                            "value": "@variables('container')",
                            "type": "Expression"
                        }
                    }
                }
            },
            {
                "name": "transaction_mining_trigger_brd2",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "transaction_mining",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "pipeline": {
                        "referenceName": "CheckPartitionValueMonthlyTrigger",
                        "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                        "partitionValue": {
                            "value": "@pipeline().parameters.partitionValue",
                            "type": "Expression"
                        },
                        "cosmosDatabaseName": {
                            "value": "@variables('cosmosDatabaseName')",
                            "type": "Expression"
                        },
                        "jobSubjectArea": "brd2_mining_output",
                        "jobExecutionType": "entity",
                        "markerRootPath": {
                            "value": "@variables('markerRootPath')",
                            "type": "Expression"
                        },
                        "schema": {
                            "value": "@variables('schema')",
                            "type": "Expression"
                        },
                        "container": {
                            "value": "@variables('container')",
                            "type": "Expression"
                        }
                    }
                }
            },
            {
                "name": "populateSynapseTrnOutTrigger",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "transaction_mining_trigger_brd3",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "pipeline": {
                        "referenceName": "SynapseConsumptionLayerProcessing",
                        "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                        "partitionValue": {
                            "value": "@pipeline().parameters.partitionValue",
                            "type": "Expression"
                        },
                        "markerRootPath": {
                            "value": "@variables('markerRootPath')",
                            "type": "Expression"
                        },
                        "jobSubjectArea": "trn_out_trigger",
                        "schema": {
                            "value": "@variables('schema')",
                            "type": "Expression"
                        },
                        "container": {
                            "value": "@variables('container')",
                            "type": "Expression"
                        }
                    }
                }
            },
            {
                "name": "over_draft_account_profile",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "stg_finacle_gam",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "pipeline": {
                        "referenceName": "ProcessingAndPopulating",
                        "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                        "partitionValue": {
                            "value": "@pipeline().parameters.partitionValue",
                            "type": "Expression"
                        },
                        "jobExecutionType": "profile",
                        "jobSubjectArea": "over_draft_account",
                        "cosmosDatabaseName": {
                            "value": "@variables('cosmosDatabaseName')",
                            "type": "Expression"
                        },
                        "markerRootPath": {
                            "value": "@variables('markerRootPath')",
                            "type": "Expression"
                        },
                        "schema": {
                            "value": "@variables('schema')",
                            "type": "Expression"
                        },
                        "container": {
                            "value": "@variables('container')",
                            "type": "Expression"
                        }
                    }
                }
            },
            {
                "name": "financial_info_profile",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "financial_ratio",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "pipeline": {
                        "referenceName": "ProcessingAndPopulating",
                        "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                        "partitionValue": {
                            "value": "@pipeline().parameters.partitionValue",
                            "type": "Expression"
                        },
                        "jobExecutionType": "profile",
                        "jobSubjectArea": "financial_info",
                        "cosmosDatabaseName": {
                            "value": "@variables('cosmosDatabaseName')",
                            "type": "Expression"
                        },
                        "markerRootPath": {
                            "value": "@variables('markerRootPath')",
                            "type": "Expression"
                        },
                        "schema": {
                            "value": "@variables('schema')",
                            "type": "Expression"
                        },
                        "container": {
                            "value": "@variables('container')",
                            "type": "Expression"
                        }
                    }
                }
            },
            {
                "name": "fixed_deposit_profile",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "stg_finacle_gam",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "pipeline": {
                        "referenceName": "ProcessingAndPopulating",
                        "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                        "partitionValue": {
                            "value": "@pipeline().parameters.partitionValue",
                            "type": "Expression"
                        },
                        "jobExecutionType": "profile",
                        "jobSubjectArea": "fixed_deposit",
                        "cosmosDatabaseName": {
                            "value": "@variables('cosmosDatabaseName')",
                            "type": "Expression"
                        },
                        "markerRootPath": {
                            "value": "@variables('markerRootPath')",
                            "type": "Expression"
                        },
                        "schema": {
                            "value": "@variables('schema')",
                            "type": "Expression"
                        },
                        "container": {
                            "value": "@variables('container')",
                            "type": "Expression"
                        }
                    }
                }
            },
            {
                "name": "term_loan_profile",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "stg_finacle_gam",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "pipeline": {
                        "referenceName": "ProcessingAndPopulating",
                        "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                        "partitionValue": {
                            "value": "@pipeline().parameters.partitionValue",
                            "type": "Expression"
                        },
                        "jobExecutionType": "profile",
                        "jobSubjectArea": "term_loan",
                        "cosmosDatabaseName": {
                            "value": "@variables('cosmosDatabaseName')",
                            "type": "Expression"
                        },
                        "markerRootPath": {
                            "value": "@variables('markerRootPath')",
                            "type": "Expression"
                        },
                        "schema": {
                            "value": "@variables('schema')",
                            "type": "Expression"
                        },
                        "container": {
                            "value": "@variables('container')",
                            "type": "Expression"
                        }
                    }
                }
            },
            {
                "name": "transaction_mining_trigger_brd3",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "transaction_mining_trigger_brd2",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "pipeline": {
                        "referenceName": "CheckPartitionValueBRD3Trigger",
                        "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                        "partitionValue": {
                            "value": "@pipeline().parameters.partitionValue",
                            "type": "Expression"
                        },
                        "cosmosDatabaseName": {
                            "value": "@variables('cosmosDatabaseName')",
                            "type": "Expression"
                        },
                        "jobSubjectArea": "brd3_mining_output",
                        "jobExecutionType": "entity",
                        "markerRootPath": {
                            "value": "@variables('markerRootPath')",
                            "type": "Expression"
                        },
                        "schema": {
                            "value": "@variables('schema')",
                            "type": "Expression"
                        },
                        "container": {
                            "value": "@variables('container')",
                            "type": "Expression"
                        }
                    }
                }
            },
            {
                "name": "transaction_info",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "transaction_view",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "pipeline": {
                        "referenceName": "CheckMonthlyPartitionTransactionInfo",
                        "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                        "partitionValue": {
                            "value": "@pipeline().parameters.partitionValue",
                            "type": "Expression"
                        },
                        "schema": {
                            "value": "@variables('schema')",
                            "type": "Expression"
                        }
                    }
                }
            },
            {
                "name": "monthly_stock_statement",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "prepare_jars_and_configs",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "pipeline": {
                        "referenceName": "MonthlyStockStatement",
                        "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                        "partitionValue": {
                            "value": "@pipeline().parameters.partitionValue",
                            "type": "Expression"
                        },
                        "cosmosDatabaseName": {
                            "value": "@variables('cosmosDatabaseName')",
                            "type": "Expression"
                        },
                        "jobExecutionType": "entity",
                        "markerRootPath": {
                            "value": "@variables('markerRootPath')",
                            "type": "Expression"
                        },
                        "schema": {
                            "value": "@variables('schema')",
                            "type": "Expression"
                        },
                        "container": {
                            "value": "@variables('container')",
                            "type": "Expression"
                        }
                    }
                }
            },
            {
                "name": "rp_input_table_ui",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "prepare_jars_and_configs",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "pipeline": {
                        "referenceName": "RpInputFromUI",
                        "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                        "partitionValue": {
                            "value": "@pipeline().parameters.partitionValue",
                            "type": "Expression"
                        }
                    }
                }
            },
            {
                "name": "monthly_kram_entity",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "prepare_jars_and_configs",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "pipeline": {
                        "referenceName": "MonthlyKramExecution",
                        "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                        "partitionValue": {
                            "value": "@pipeline().parameters.partitionValue",
                            "type": "Expression"
                        },
                        "cosmosDatabaseName": {
                            "value": "@variables('cosmosDatabaseName')",
                            "type": "Expression"
                        },
                        "markerRootPath": {
                            "value": "@variables('markerRootPath')",
                            "type": "Expression"
                        },
                        "schema": {
                            "value": "@variables('schema')",
                            "type": "Expression"
                        },
                        "container": {
                            "value": "@variables('container')",
                            "type": "Expression"
                        }
                    }
                }
            },
            {
                "name": "Load Self Transfer Feedback",
                "type": "ExecutePipeline",
                "dependsOn": [],
                "policy": {
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "pipeline": {
                        "referenceName": "self_transfer_feedback",
                        "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                        "p_date": {
                            "value": "@pipeline().parameters.partitionValue",
                            "type": "Expression"
                        }
                    }
                }
            }
        ],
        "parameters": {
            "partitionValue": {
                "type": "string"
            }
        },
        "variables": {
            "markerRootPath": {
                "type": "String",
                "defaultValue": "job-metadata/markers"
            },
            "cosmosDatabaseName": {
                "type": "String",
                "defaultValue": "config_store"
            },
            "schema": {
                "type": "String",
                "defaultValue": "dbo"
            },
            "container": {
                "type": "String",
                "defaultValue": "job-data"
            }
        },
        "folder": {
            "name": "PROD/CadenzFlow"
        },
        "annotations": [],
        "lastPublishTime": "2024-10-24T10:12:46Z"
    },
    "type": "Microsoft.DataFactory/factories/pipelines"
}