pipeline/CheckEwsProfilePartitionDateExist.json
{
    "name": "CheckEwsProfilePartitionDateExist",
    "properties": {
        "activities": [
            {
                "name": "check_partion_date_exists",
                "type": "GetMetadata",
                "dependsOn": [],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "dataset": {
                        "referenceName": "adls_profile_store",
                        "type": "DatasetReference",
                        "parameters": {
                            "partitionValue": {
                                "value": "@pipeline().parameters.partitionDate",
                                "type": "Expression"
                            },
                            "subjectArea": {
                                "value": "@pipeline().parameters.jobSubjectArea",
                                "type": "Expression"
                            },
                            "container": {
                                "value": "@pipeline().parameters.container",
                                "type": "Expression"
                            }
                        }
                    },
                    "fieldList": [
                        "exists"
                    ],
                    "storeSettings": {
                        "type": "AzureBlobFSReadSettings",
                        "recursive": true,
                        "enablePartitionDiscovery": false
                    },
                    "formatSettings": {
                        "type": "ParquetReadSettings"
                    }
                }
            },
            {
                "name": "IF_Partition_Date_Exist_Return_True_or_False",
                "type": "SetVariable",
                "dependsOn": [
                    {
                        "activity": "check_partion_date_exists",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "variableName": "partitionDateExists",
                    "value": {
                        "value": "@activity('check_partion_date_exists').output.exists",
                        "type": "Expression"
                    }
                }
            },
            {
                "name": "if_partition_date_exists_load_synapse",
                "type": "IfCondition",
                "dependsOn": [
                    {
                        "activity": "IF_Partition_Date_Exist_Return_True_or_False",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "expression": {
                        "value": "@variables('partitionDateExists')",
                        "type": "Expression"
                    },
                    "ifTrueActivities": [
                        {
                            "name": "ExecuteOpenTriggers",
                            "type": "ExecutePipeline",
                            "dependsOn": [],
                            "policy": {
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "pipeline": {
                                    "referenceName": "OpenTriggers",
                                    "type": "PipelineReference"
                                },
                                "waitOnCompletion": true,
                                "parameters": {
                                    "partitionValue": {
                                        "value": "@pipeline().parameters.partitionDate",
                                        "type": "Expression"
                                    }
                                }
                            }
                        }
                    ]
                }
            }
        ],
        "parameters": {
            "partitionDate": {
                "type": "string",
                "defaultValue": "yyyy-MM-dd"
            },
            "jobSubjectArea": {
                "type": "string"
            },
            "container": {
                "type": "string"
            }
        },
        "variables": {
            "partitionDateExists": {
                "type": "Boolean"
            },
            "partitionDateNotFound": {
                "type": "String"
            }
        },
        "folder": {
            "name": "PROD/alert_workflow"
        },
        "annotations": [],
        "lastPublishTime": "2022-05-12T07:10:57Z"
    },
    "type": "Microsoft.DataFactory/factories/pipelines"
}