pipeline/Check_Blob_Load_date_wise_Delete_Activity_pipeline.json
{
	"name": "Check_Blob_Load_date_wise_Delete_Activity_pipeline",
	"properties": {
		"activities": [
			{
				"name": "Check_Blob_Load_date_Exists",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Check_Blob_Load_date_wise_Delete_source",
						"type": "DatasetReference",
						"parameters": {
							"date2run": {
								"value": "@pipeline().parameters.date2run",
								"type": "Expression"
							},
							"Load_date_blob_path": {
								"value": "@pipeline().parameters.Blob_File_Path_Location",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "IF_Load_date_Exist_Return_True_or_False",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Check_Blob_Load_date_Exists",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Load_date_Exists",
					"value": {
						"value": "@activity('Check_Blob_Load_date_Exists').output.exists",
						"type": "Expression"
					}
				}
			},
			{
				"name": "IF_Load_date_Exists_Delete_Else_Execute_Copy_pipeline",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "IF_Load_date_Exist_Return_True_or_False",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@variables('Load_date_Exists')",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Check_Blob_Load_date_False_Activity",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "Load_date_Not_Found",
								"value": "'Load_date is Not Found'"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Blob_Load_date_Delete_Activity",
							"type": "Delete",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "Check_Blob_Load_date_wise_Delete_source",
									"type": "DatasetReference",
									"parameters": {
										"date2run": {
											"value": "@pipeline().parameters.date2run",
											"type": "Expression"
										},
										"Load_date_blob_path": {
											"value": "@pipeline().parameters.Blob_File_Path_Location",
											"type": "Expression"
										}
									}
								},
								"enableLogging": false,
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"date2run": {
				"type": "string",
				"defaultValue": "yyyyMMdd"
			},
			"Blob_File_Path_Location": {
				"type": "string"
			}
		},
		"variables": {
			"Load_date_Exists": {
				"type": "Boolean"
			},
			"Load_date_Not_Found": {
				"type": "String"
			}
		},
		"folder": {
			"name": "misc"
		},
		"annotations": [],
		"lastPublishTime": "2025-05-06T12:00:49Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}