pipeline/stag2landing_RTGS.json
{
    "name": "stag2landing_RTGS",
    "properties": {
        "activities": [
            {
                "name": "RTGS_INWARD_PAYMENT",
                "type": "Copy",
                "dependsOn": [
                    {
                        "activity": "CHECK_PARTITION_EXISTS_RTGS_INWARD_PAYMENT",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "SybaseSource",
                        "query": {
                            "value": "@concat('select \nRTGS.MESSAGE_TYPE,\nRTGS.AMOUNT,\nRTGS.MSG_ID AS MESSAGE_IDENTIFIER,\nRTGS.UTR_NO AS TRANSACTION_ID,\nRTGS.END_TO_END_ID AS TRANSACTION_END_ID,\nRTGS.SENDER_ADDRESS AS DEBITOR_AGENT,\nRTGS.A4_5500 AS DEBITOR_ACCOUNT_AND_NAME,\nRTGS.A4_5516 AS DEBITOR_FININST_NAME,\nRTGS.RECEIVER_ADDRESS,\nRTGS.APAC AS CREDITOR_ACCOUNT,\nRTGS.A4_5561 AS CREDITOR_ACCOUNT_AND_NAME,\nRTGS.A4_6719 AS CREDITOR_FININST_NAME,\nRTGS.A4_7023 AS INSTITUTION_INFORMATION,\nRTGS.A4_7495 AS REMITTANCE_INFORMATION,\nreplace(RTGS.A4_4488_VALUE_DT, ''-'', '''') AS VALUE_DATE,\nRTGS.ORIGINATING_DATE AS SETTLEMENT_DATE,\nRTGS.ORIGINATING_TIME AS RECEIVED_TIME,\nGAM.CIF_ID,\nGAM.SCHM_TYPE\nfrom STG.STG_NEFT_RTGS_INWARD_PAYMENT_TRANS  RTGS\nINNER JOIN STG.STG_FINACLE_GAM  GAM\non RTGS.APAC = GAM.FORACID \nwhere \nGAM.SCHM_TYPE in (''CA'',''CCA'',''ODA'') and \nGAM.CIF_ID in \n(select distinct `BCIF_BANK Id` from STG.STG_GLEMS_MVIEW_FAC_DTLS where \n`Limit Suffix` in \n(''AJANT'',''ALKEM'',''BAIR'',''BANF'',''BC'',''BCCAP'',''BCCPX'',''BCCXP'',''BCD'',''BCL'',''BCLM'',''BCTL'',\n''BCWC'',''BG1'',''BG2'',''BG3'',''BG4'',''BGADH'',''BGBBD'',''BGFIN'',''BGLIM'',''BGPER'',''BGR2'',''BILLL'',\n''BLUEC'',''BUCR'',''BURCR'',''BUYCD'',''BUYCR'',''BUYER'',''BUYRC'',''BYCR'',''CADIL'',''CAPEX'',''CAPLC'',\n''CBDST'',''CC'',''CCOD'',''CHAN'',''CLNBI'',''CLNBL'',''CVVJK'',''DBAC1'',''DBAC2'',''DBAC5'',''DBDAC'',\n''DBDDW'',''DOMBD'',''DRWR'',''EBDMM'',''EBDTA'',''EBDTM'',''EBDTT'',''EBDVE'',''EPC'',''EPC1'',''EPC2'',\n''EPCCR'',''EPCFC'',''FACTO'',''FBD'',''FBN'',''FBP'',''FBP2'',''FBPAD'',''FDCLT'',''FLCIN'',''FRGNA'',\n''FRGNB'',''IDEA'',''ILCFL'',''IMCLR'',''IMSTR'',''INBAL'',''INDIS'',''INHHM'',''INMNM'',''INMUL'',\n''INOT1'',''INOT2'',''INOT3'',''INOT4'',''INOT6'',''INTAF'',''INTAS'',''INVAD'',''INVDF'',''INVDI'',\n''INVFI'',''INVO'',''INVPU'',''KCCL'',''LALOU'',''LC'',''LCBD'',''LCBDC'',''LCBDL'',''LCBDS'',''LCBL'',\n''LCCAP'',''LCCP1'',''LCCP2'',''LCCPX'',''LCFBL'',''LCIBL'',''LCIMP'',''LCIND'',''LCLIM'',''LCNPB'',\n''LCNSB'',''LCPBD'',''LCPXF'',''LCPXI'',''LCSBD'',''LCWC'',''LCWCF'',''LCWCI'',''LOTML'',''LOU'',''MEDLE'',\n''MICRO'',''MULDI'',''NICHO'',''OD'',''ODFD'',''ODHAN'',''PBD1'',''PBD2'',''PBUY1'',''PBUY2'',''PBUY3'',\n''PBUY4'',''PC'',''PCFC1'',''PCFC2'',''PCFCI'',''PCFCL'',''PCFCN'',''PCFCR'',''PCFCY'',''PCFRN'',''PCINR'',\n''PCLI'',''PCLIM'',''PCRUP'',''PCWC'',''PION'',''POBAL'',''POFUN'',''POHOS'',''POMNM'',''POMUL'',''POONA'',\n''POTML'',''PSC'',''PSCFC'',''PSCIN'',''PUR'',''PURC1'',''RECEV'',''RFACT'',''SBD1'',''SBD11'',''SBD2'',''SBD3'',\n''SBD4'',''SBD5'',''SBD6'',''SBDAL'',''SBDB'',''SBDCE'',''SBDGB'',''SBDMM'',''SBDS'',''SBDTM'',''SBLC'',''SBLCB'',\n''SBLCI'',''SBLCM'',''SBLCY'',''SIF'',''SPENG'',''STL'',''STLAD'',''STLCP'',''STLFC'',''STLL'',''STLLI'',''STLWD'',\n''SUNPH'',''SUPL'',''SUPP'',''TATA'',''TCD'',''TREDS'',''VAPIP'',''WCCLI'',''WCDL'',''WCDL2'',''WCDLA'',''WCDLD'',''WCDLM''))\nand DATE(TXN_DATE)=''',pipeline().parameters.partitionValue,'''')",
                            "type": "Expression"
                        }
                    },
                    "sink": {
                        "type": "DelimitedTextSink",
                        "storeSettings": {
                            "type": "AzureBlobFSWriteSettings"
                        },
                        "formatSettings": {
                            "type": "DelimitedTextWriteSettings",
                            "maxRowsPerFile": 300000,
                            "quoteAllText": true,
                            "fileExtension": ".csv"
                        }
                    },
                    "enableStaging": false,
                    "parallelCopies": 1,
                    "translator": {
                        "type": "TabularTranslator",
                        "typeConversion": true,
                        "typeConversionSettings": {
                            "allowDataTruncation": true,
                            "treatBooleanAsNumber": false
                        }
                    }
                },
                "inputs": [
                    {
                        "referenceName": "SybaseDataset_NeftRtgs",
                        "type": "DatasetReference"
                    }
                ],
                "outputs": [
                    {
                        "referenceName": "csv_RTGS",
                        "type": "DatasetReference",
                        "parameters": {
                            "partitiondate": {
                                "value": "@replace(pipeline().parameters.partitionValue, '-', '')",
                                "type": "Expression"
                            },
                            "RtgsTable": "RTGS_INWARD_PAYMENT",
                            "loaddate": {
                                "value": "@replace(pipeline().parameters.loadDate, '-', '')",
                                "type": "Expression"
                            }
                        }
                    }
                ]
            },
            {
                "name": "CHECK_PARTITION_EXISTS_RTGS_INWARD_PAYMENT",
                "type": "ExecutePipeline",
                "dependsOn": [],
                "policy": {
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "pipeline": {
                        "referenceName": "Check_Blob_Partition_Exists_Delete_Activity_Pipeline",
                        "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                        "date2run": {
                            "value": "@replace(pipeline().parameters.loadDate, '-', '')",
                            "type": "Expression"
                        },
                        "date2runm1": {
                            "value": "@replace(pipeline().parameters.partitionValue, '-', '')",
                            "type": "Expression"
                        },
                        "Blob_File_path": {
                            "value": "@variables('Blob_File_Path_RTGS_INWARD_PAYMENT')",
                            "type": "Expression"
                        }
                    }
                }
            },
            {
                "name": "CHECK_LOAD_DATE_EXISTS_RTGS_OUTWARD_PAYMENT",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "RTGS_INWARD_PAYMENT",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "pipeline": {
                        "referenceName": "Check_Blob_Partition_Exists_Delete_Activity_Pipeline",
                        "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                        "date2run": {
                            "value": "@replace(pipeline().parameters.loadDate, '-', '')",
                            "type": "Expression"
                        },
                        "date2runm1": {
                            "value": "@replace(pipeline().parameters.partitionValue, '-', '')",
                            "type": "Expression"
                        },
                        "Blob_File_path": {
                            "value": "@variables('Blob_File_Path_RTGS_OUTWARD_PAYMENT')",
                            "type": "Expression"
                        }
                    }
                }
            },
            {
                "name": "RTGS_OUTWARD_PAYMENT",
                "type": "Copy",
                "dependsOn": [
                    {
                        "activity": "CHECK_LOAD_DATE_EXISTS_RTGS_OUTWARD_PAYMENT",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "SybaseSource",
                        "query": {
                            "value": "@concat('select UTR, c.tran_id,\nDATEFORMAT(c.tran_date, ''yyyyMMdd'') AS tran_date,\ntran_amt,ORD_PARTY_ACCT,\nORD_PARTY_NAME, ORD_PARTY_ADDR1,\nORD_PARTY_ADDR2,ORD_PARTY_ADDR3,\nRECEIVER_BIC,BENEF_PARTY_ACCT,\nBENEF_PARTY_NAME, BENEF_PARTY_ADDR1,\nBENEF_PARTY_ADDR2,BENEF_PARTY_ADDR3\nfrom STG.STG_FINACLE_PORH a,\nSTG.STG_FINACLE_PORD b,\nSTG.STG_FINACLE_SMH c\nwhere a.pymt_ref_num =  b.pymt_ref_num\nand a.pymt_ref_num = ROUTING_REF_NUM\nand c.IN_OUT_IND = ''O''\nand PAYSYS_ID = ''RTGS''\nand DATEFORMAT(execution_date, ''yyyy-MM-dd'') = ''',pipeline().parameters.partitionValue,'''')",
                            "type": "Expression"
                        }
                    },
                    "sink": {
                        "type": "DelimitedTextSink",
                        "storeSettings": {
                            "type": "AzureBlobFSWriteSettings"
                        },
                        "formatSettings": {
                            "type": "DelimitedTextWriteSettings",
                            "maxRowsPerFile": 300000,
                            "quoteAllText": true,
                            "fileExtension": ".csv"
                        }
                    },
                    "enableStaging": false,
                    "parallelCopies": 1,
                    "translator": {
                        "type": "TabularTranslator",
                        "typeConversion": true,
                        "typeConversionSettings": {
                            "allowDataTruncation": true,
                            "treatBooleanAsNumber": false
                        }
                    }
                },
                "inputs": [
                    {
                        "referenceName": "SybaseDataset_NeftRtgs",
                        "type": "DatasetReference"
                    }
                ],
                "outputs": [
                    {
                        "referenceName": "csv_RTGS",
                        "type": "DatasetReference",
                        "parameters": {
                            "partitiondate": {
                                "value": "@replace(pipeline().parameters.partitionValue, '-', '')",
                                "type": "Expression"
                            },
                            "RtgsTable": "RTGS_OUTWARD_PAYMENT",
                            "loaddate": {
                                "value": "@replace(pipeline().parameters.loadDate, '-', '')",
                                "type": "Expression"
                            }
                        }
                    }
                ]
            }
        ],
        "parameters": {
            "partitionValue": {
                "type": "string",
                "defaultValue": "yyyy-mm-dd"
            },
            "loadDate": {
                "type": "string",
                "defaultValue": "yyyy-mm-dd"
            }
        },
        "variables": {
            "Blob_File_Path_RTGS_INWARD_PAYMENT": {
                "type": "String",
                "defaultValue": "RTGS/RTGS_INWARD_PAYMENT/load_date="
            },
            "Blob_File_Path_RTGS_OUTWARD_PAYMENT": {
                "type": "String",
                "defaultValue": "RTGS/RTGS_OUTWARD_PAYMENT/load_date="
            }
        },
        "folder": {
            "name": "stg2landing_NeftRtgs"
        },
        "annotations": [],
        "lastPublishTime": "2023-04-09T13:54:45Z"
    },
    "type": "Microsoft.DataFactory/factories/pipelines"
}