pipeline/stag2landing_LOS_Commercial_Financial.json
{
    "name": "stag2landing_LOS_Commercial_Financial",
    "properties": {
        "description": "LOS commerical financial:\nList out parameter:\n--Turnover\n--Debtors_For_Current_Receivables\n--Debtors_For_Receivables_More_Than_6M\n--Creditors\n--Networth\n--LTV\n--Investment_And_Advances_To_Group_Companies\n--Group Companies\n--Adjusted_Tangible_Net_Worth_ATNW\n--RELATED PARTY DATA",
        "activities": [
            {
                "name": "Turnover_Query_Sybase_To_Blob",
                "type": "Copy",
                "dependsOn": [
                    {
                        "activity": "Turnover_Delete_if_Exists_load_date",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "SybaseSource",
                        "query": "(select LCI.LCI_BCIF_NO AS BCIF_NO,\n    LCI.LCI_CUST_NAME AS NAME,\n    (CASE WHEN LFD_YEAR_SEQ_NO=3 THEN LFD_YEAR_3 WHEN LFD_YEAR_SEQ_NO=4 THEN LFD_YEAR_4 WHEN LFD_YEAR_SEQ_NO=5 THEN LFD_YEAR_5  ELSE 0 END)/10000000 AS Turnover\n\nFROM \"STG\".\"STG_LENDDB_LPCOM_CUST_INFO\"  LCI INNER JOIN \"STG\".\"STG_LENDDB_LPCOM_PROP_PARTIES\" LPP ON LPP.LPP_CUST_ID_NEW = LCI.LCI_NEW_ID \n    INNER JOIN \"STG\".\"STG_LENDDB_LPCOM_PROPOSAL\" LP ON LP.LP_PROP_NO = LPP.LPP_PROP_NO\n    INNER JOIN \"STG\".\"STG_LENDDB_LPCOM_FIN_DATA\" LFD ON LFD.LFD_CUST_NEW_ID = LCI.LCI_NEW_ID\n    INNER JOIN \"STG\".\"STG_LENDDB_LPCOM_FIN_DETAILS\" LFDS ON LFD.LFD_CMA_NO=LFDS.LFD_CMA_NO AND LFD.LFD_CUST_NEW_ID = LFDS.LFD_CUST_NEW_ID\n    INNER JOIN \"STG\".\"STG_LENDDB_LPSTP_FINMASTER\" LFM ON LFM.FIN_ROW_ID = LFD.LFD_FIN_ROW_ID\n    WHERE (LFD.LFD_FIN_ROW_ID=6548 OR LFD.LFD_FIN_ROW_ID=513550 OR LFD.LFD_FIN_ROW_ID=513630 OR LFD.LFD_FIN_ROW_ID=6558) AND LFDS.LFD_AUDIT_TYPE='A' AND LFD.LFD_CUST_NEW_ID=LCI.LCI_NEW_ID AND LFDS.LFD_FIN_PAGE = 'FI' \n--AND LFD.LFD_YEAR_3 AND LFD.LFD_YEAR_4 AND LFD.LFD_YEAR_5\n--AND (LFD_YEAR_SEQ_NO = 3 OR LFD_YEAR_SEQ_NO = 4 OR LFD_YEAR_SEQ_NO = 5)\nAND (LFD_YEAR_SEQ_NO = 4 )\nAND LCI.LCI_BCIF_NO IN ('353340260','68587054','68588872','235871246','238747057','240330893','84059532','84321420','48319078','58358561','29476556','87312352') AND LCI.LCI_RECENT = 'Y' \nORDER By LFDS.LFD_END_DATE DESC)"
                    },
                    "sink": {
                        "type": "DelimitedTextSink",
                        "storeSettings": {
                            "type": "AzureBlobFSWriteSettings"
                        },
                        "formatSettings": {
                            "type": "DelimitedTextWriteSettings",
                            "quoteAllText": true,
                            "fileExtension": ".csv"
                        }
                    },
                    "enableStaging": false,
                    "parallelCopies": 1,
                    "translator": {
                        "type": "TabularTranslator",
                        "typeConversion": true,
                        "typeConversionSettings": {
                            "allowDataTruncation": true,
                            "treatBooleanAsNumber": false
                        }
                    }
                },
                "inputs": [
                    {
                        "referenceName": "LOS_Commercial_Financial_Sybase_Turnover_Query_Source",
                        "type": "DatasetReference"
                    }
                ],
                "outputs": [
                    {
                        "referenceName": "LOS_Commercial_Financial_Blob_Turnover_Query_Destination",
                        "type": "DatasetReference",
                        "parameters": {
                            "load_date": {
                                "value": "@pipeline().parameters.date2run",
                                "type": "Expression"
                            }
                        }
                    }
                ]
            },
            {
                "name": "Debtors_For_Current_Receivables_Query_Sybase_To_Blob",
                "type": "Copy",
                "dependsOn": [
                    {
                        "activity": "Debtors_For_Current_IF_Delete_Exists_load_date",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "SybaseSource",
                        "query": "\n(select LCI.LCI_BCIF_NO AS BCIF_NO,\n    LCI.LCI_CUST_NAME AS NAME,\n    (CASE WHEN LFD_YEAR_SEQ_NO=3 THEN LFD_YEAR_3 WHEN LFD_YEAR_SEQ_NO=4 THEN LFD_YEAR_4 WHEN LFD_YEAR_SEQ_NO=5 THEN LFD_YEAR_5  ELSE 0 END)/10000000 AS   \nDebtors_For_Current_Receivables\nFROM \"STG\".\"STG_LENDDB_LPCOM_CUST_INFO\"  LCI INNER JOIN \"STG\".\"STG_LENDDB_LPCOM_PROP_PARTIES\" LPP ON LPP.LPP_CUST_ID_NEW = LCI.LCI_NEW_ID \n    INNER JOIN \"STG\".\"STG_LENDDB_LPCOM_PROPOSAL\" LP ON LP.LP_PROP_NO = LPP.LPP_PROP_NO\n    INNER JOIN \"STG\".\"STG_LENDDB_LPCOM_FIN_DATA\" LFD ON LFD.LFD_CUST_NEW_ID = LCI.LCI_NEW_ID\n    INNER JOIN \"STG\".\"STG_LENDDB_LPCOM_FIN_DETAILS\" LFDS ON LFD.LFD_CMA_NO=LFDS.LFD_CMA_NO AND LFD.LFD_CUST_NEW_ID = LFDS.LFD_CUST_NEW_ID\n    INNER JOIN \"STG\".\"STG_LENDDB_LPSTP_FINMASTER\" LFM ON LFM.FIN_ROW_ID = LFD.LFD_FIN_ROW_ID\n    WHERE (LFD.LFD_FIN_ROW_ID=6835 OR LFD.LFD_FIN_ROW_ID=513588 OR LFD.LFD_FIN_ROW_ID=513669 OR LFD.LFD_FIN_ROW_ID=6836) AND LFDS.LFD_AUDIT_TYPE='A' AND LFD.LFD_CUST_NEW_ID=LCI.LCI_NEW_ID AND LFDS.LFD_FIN_PAGE = 'FI' \n--AND (LFD_YEAR_SEQ_NO = 3 OR LFD_YEAR_SEQ_NO = 4 OR LFD_YEAR_SEQ_NO = 5)\nAND (LFD_YEAR_SEQ_NO = 4 )\nAND LCI.LCI_BCIF_NO IN ('353340260','68587054','68588872','235871246','238747057','240330893','84059532','84321420','48319078','58358561','29476556','87312352') AND LCI.LCI_RECENT = 'Y' \nORDER By LFDS.LFD_END_DATE DESC)"
                    },
                    "sink": {
                        "type": "DelimitedTextSink",
                        "storeSettings": {
                            "type": "AzureBlobFSWriteSettings"
                        },
                        "formatSettings": {
                            "type": "DelimitedTextWriteSettings",
                            "quoteAllText": true,
                            "fileExtension": ".txt"
                        }
                    },
                    "enableStaging": false,
                    "parallelCopies": 1,
                    "translator": {
                        "type": "TabularTranslator",
                        "typeConversion": true,
                        "typeConversionSettings": {
                            "allowDataTruncation": true,
                            "treatBooleanAsNumber": false
                        }
                    }
                },
                "inputs": [
                    {
                        "referenceName": "LOS_Commercial_Financial_Sybase_Debtors_For_Current_Receivables_Query_Source",
                        "type": "DatasetReference"
                    }
                ],
                "outputs": [
                    {
                        "referenceName": "LOS_Commercial_Financial_Blob_Debtors_For_Current_Receivables_Query_Destination",
                        "type": "DatasetReference",
                        "parameters": {
                            "load_date": {
                                "value": "@pipeline().parameters.date2run",
                                "type": "Expression"
                            }
                        }
                    }
                ]
            },
            {
                "name": "Debtors_For_Receivables_More_Than_6M_Sybase_To_Blob",
                "type": "Copy",
                "dependsOn": [
                    {
                        "activity": "Debtors_For_Receivables_More_Than_6M_IF_Delete_Exists",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "SybaseSource",
                        "query": "(select LCI.LCI_BCIF_NO AS BCIF_NO,\n    LCI.LCI_CUST_NAME AS NAME,\n    (CASE WHEN LFD_YEAR_SEQ_NO=3 THEN LFD_YEAR_3 WHEN LFD_YEAR_SEQ_NO=4 THEN LFD_YEAR_4 WHEN LFD_YEAR_SEQ_NO=5 THEN LFD_YEAR_5  ELSE 0 END)/10000000 AS Debtors_For_Receivables_More_Than_6M\n\nFROM \"STG\".\"STG_LENDDB_LPCOM_CUST_INFO\"  LCI INNER JOIN \"STG\".\"STG_LENDDB_LPCOM_PROP_PARTIES\" LPP ON LPP.LPP_CUST_ID_NEW = LCI.LCI_NEW_ID \n    INNER JOIN \"STG\".\"STG_LENDDB_LPCOM_PROPOSAL\" LP ON LP.LP_PROP_NO = LPP.LPP_PROP_NO\n    INNER JOIN \"STG\".\"STG_LENDDB_LPCOM_FIN_DATA\" LFD ON LFD.LFD_CUST_NEW_ID = LCI.LCI_NEW_ID\n    INNER JOIN \"STG\".\"STG_LENDDB_LPCOM_FIN_DETAILS\" LFDS ON LFD.LFD_CMA_NO=LFDS.LFD_CMA_NO AND LFD.LFD_CUST_NEW_ID = LFDS.LFD_CUST_NEW_ID\n    INNER JOIN \"STG\".\"STG_LENDDB_LPSTP_FINMASTER\" LFM ON LFM.FIN_ROW_ID = LFD.LFD_FIN_ROW_ID\n    WHERE (LFD.LFD_FIN_ROW_ID=6902 OR LFD.LFD_FIN_ROW_ID=513577 OR LFD.LFD_FIN_ROW_ID=513658) AND LFDS.LFD_AUDIT_TYPE='A' AND LFD.LFD_CUST_NEW_ID=LCI.LCI_NEW_ID AND LFDS.LFD_FIN_PAGE = 'FI' \n--AND (LFD_YEAR_SEQ_NO = 3 OR LFD_YEAR_SEQ_NO = 4 OR LFD_YEAR_SEQ_NO = 5)\nAND (LFD_YEAR_SEQ_NO = 4 )\nAND LCI.LCI_BCIF_NO IN ('353340260','68587054','68588872','235871246','238747057','240330893','84059532','84321420','48319078','58358561','29476556','87312352') AND LCI.LCI_RECENT = 'Y' \nORDER By LFDS.LFD_END_DATE DESC)"
                    },
                    "sink": {
                        "type": "DelimitedTextSink",
                        "storeSettings": {
                            "type": "AzureBlobFSWriteSettings"
                        },
                        "formatSettings": {
                            "type": "DelimitedTextWriteSettings",
                            "quoteAllText": true,
                            "fileExtension": ".csv"
                        }
                    },
                    "enableStaging": false,
                    "parallelCopies": 1,
                    "translator": {
                        "type": "TabularTranslator",
                        "typeConversion": true,
                        "typeConversionSettings": {
                            "allowDataTruncation": true,
                            "treatBooleanAsNumber": false
                        }
                    }
                },
                "inputs": [
                    {
                        "referenceName": "LOS_Commercial_Financial_Sybase_Debtors_For_Receivables_More_Than_6M_Query_Source",
                        "type": "DatasetReference"
                    }
                ],
                "outputs": [
                    {
                        "referenceName": "LOS_Commercial_Financial_Blob_Debtors_For_Receivables_More_Than_6M_Query_Destination",
                        "type": "DatasetReference",
                        "parameters": {
                            "load_date": {
                                "value": "@pipeline().parameters.date2run",
                                "type": "Expression"
                            }
                        }
                    }
                ]
            },
            {
                "name": "Creditors_Query_Sybase_To_Blob",
                "type": "Copy",
                "dependsOn": [
                    {
                        "activity": "Creditors_IF_Delete_Exists_Load_date",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "SybaseSource",
                        "query": "(select LCI.LCI_BCIF_NO AS BCIF_NO,\n    LCI.LCI_CUST_NAME AS NAME,\n    (CASE WHEN LFD_YEAR_SEQ_NO=3 THEN LFD_YEAR_3 WHEN LFD_YEAR_SEQ_NO=4 THEN LFD_YEAR_4 WHEN LFD_YEAR_SEQ_NO=5 THEN LFD_YEAR_5  ELSE 0 END)/10000000 AS Creditors\n\nFROM \"STG\".\"STG_LENDDB_LPCOM_CUST_INFO\"  LCI INNER JOIN \"STG\".\"STG_LENDDB_LPCOM_PROP_PARTIES\" LPP ON LPP.LPP_CUST_ID_NEW = LCI.LCI_NEW_ID \n    INNER JOIN \"STG\".\"STG_LENDDB_LPCOM_PROPOSAL\" LP ON LP.LP_PROP_NO = LPP.LPP_PROP_NO\n    INNER JOIN \"STG\".\"STG_LENDDB_LPCOM_FIN_DATA\" LFD ON LFD.LFD_CUST_NEW_ID = LCI.LCI_NEW_ID\n    INNER JOIN \"STG\".\"STG_LENDDB_LPCOM_FIN_DETAILS\" LFDS ON LFD.LFD_CMA_NO=LFDS.LFD_CMA_NO AND LFD.LFD_CUST_NEW_ID = LFDS.LFD_CUST_NEW_ID\n    INNER JOIN \"STG\".\"STG_LENDDB_LPSTP_FINMASTER\" LFM ON LFM.FIN_ROW_ID = LFD.LFD_FIN_ROW_ID\n    WHERE (LFD.LFD_FIN_ROW_ID=6746 OR LFD.LFD_FIN_ROW_ID=513594 OR LFD.LFD_FIN_ROW_ID=513675) AND LFDS.LFD_AUDIT_TYPE='A' AND LFD.LFD_CUST_NEW_ID=LCI.LCI_NEW_ID AND LFDS.LFD_FIN_PAGE = 'FI' \n--AND (LFD_YEAR_SEQ_NO = 3 OR LFD_YEAR_SEQ_NO = 4 OR LFD_YEAR_SEQ_NO = 5)\nAND (LFD_YEAR_SEQ_NO = 4 )\nAND LCI.LCI_BCIF_NO IN ('353340260','68587054','68588872','235871246','238747057','240330893','84059532','84321420','48319078','58358561','29476556','87312352') AND LCI.LCI_RECENT = 'Y' \nORDER By LFDS.LFD_END_DATE DESC)"
                    },
                    "sink": {
                        "type": "DelimitedTextSink",
                        "storeSettings": {
                            "type": "AzureBlobFSWriteSettings"
                        },
                        "formatSettings": {
                            "type": "DelimitedTextWriteSettings",
                            "quoteAllText": true,
                            "fileExtension": ".csv"
                        }
                    },
                    "enableStaging": false,
                    "parallelCopies": 1,
                    "translator": {
                        "type": "TabularTranslator",
                        "typeConversion": true,
                        "typeConversionSettings": {
                            "allowDataTruncation": true,
                            "treatBooleanAsNumber": false
                        }
                    }
                },
                "inputs": [
                    {
                        "referenceName": "LOS_Commercial_Financial_Sybase_Creditors_Query_Source",
                        "type": "DatasetReference"
                    }
                ],
                "outputs": [
                    {
                        "referenceName": "LOS_Commercial_Financial_Blob_Creditors_Query_Destination",
                        "type": "DatasetReference",
                        "parameters": {
                            "load_date": {
                                "value": "@pipeline().parameters.date2run",
                                "type": "Expression"
                            }
                        }
                    }
                ]
            },
            {
                "name": "Networth_Query_Sybase_To_Blob",
                "type": "Copy",
                "dependsOn": [
                    {
                        "activity": "Networth_IF_Delete_Exists_Load_date",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "SybaseSource",
                        "query": "(select LCI.LCI_BCIF_NO AS BCIF_NO,\n    LCI.LCI_CUST_NAME AS NAME,\n    (CASE WHEN LFD_YEAR_SEQ_NO=3 THEN LFD_YEAR_3 WHEN LFD_YEAR_SEQ_NO=4 THEN LFD_YEAR_4 WHEN LFD_YEAR_SEQ_NO=5 THEN LFD_YEAR_5  ELSE 0 END)/10000000 AS Networth\n\nFROM \"STG\".\"STG_LENDDB_LPCOM_CUST_INFO\"  LCI INNER JOIN \"STG\".\"STG_LENDDB_LPCOM_PROP_PARTIES\" LPP ON LPP.LPP_CUST_ID_NEW = LCI.LCI_NEW_ID \n    INNER JOIN \"STG\".\"STG_LENDDB_LPCOM_PROPOSAL\" LP ON LP.LP_PROP_NO = LPP.LPP_PROP_NO\n    INNER JOIN \"STG\".\"STG_LENDDB_LPCOM_FIN_DATA\" LFD ON LFD.LFD_CUST_NEW_ID = LCI.LCI_NEW_ID\n    INNER JOIN \"STG\".\"STG_LENDDB_LPCOM_FIN_DETAILS\" LFDS ON LFD.LFD_CMA_NO=LFDS.LFD_CMA_NO AND LFD.LFD_CUST_NEW_ID = LFDS.LFD_CUST_NEW_ID\n    INNER JOIN \"STG\".\"STG_LENDDB_LPSTP_FINMASTER\" LFM ON LFM.FIN_ROW_ID = LFD.LFD_FIN_ROW_ID\n    WHERE (LFD.LFD_FIN_ROW_ID=7061 OR LFD.LFD_FIN_ROW_ID=513574 OR LFD.LFD_FIN_ROW_ID=513655) AND LFDS.LFD_AUDIT_TYPE='A' AND LFD.LFD_CUST_NEW_ID=LCI.LCI_NEW_ID AND LFDS.LFD_FIN_PAGE = 'FI' \n--AND (LFD_YEAR_SEQ_NO = 3 OR LFD_YEAR_SEQ_NO = 4 OR LFD_YEAR_SEQ_NO = 5)\nAND (LFD_YEAR_SEQ_NO = 4 )\nAND LCI.LCI_BCIF_NO IN ('353340260','68587054','68588872','235871246','238747057','240330893','84059532','84321420','48319078','58358561','29476556','87312352') AND LCI.LCI_RECENT = 'Y' \nORDER By LFDS.LFD_END_DATE DESC)"
                    },
                    "sink": {
                        "type": "DelimitedTextSink",
                        "storeSettings": {
                            "type": "AzureBlobFSWriteSettings"
                        },
                        "formatSettings": {
                            "type": "DelimitedTextWriteSettings",
                            "quoteAllText": true,
                            "fileExtension": ".csv"
                        }
                    },
                    "enableStaging": false,
                    "parallelCopies": 1,
                    "translator": {
                        "type": "TabularTranslator",
                        "typeConversion": true,
                        "typeConversionSettings": {
                            "allowDataTruncation": true,
                            "treatBooleanAsNumber": false
                        }
                    }
                },
                "inputs": [
                    {
                        "referenceName": "LOS_Commercial_Financial_Sybase_Networth_Query_Source",
                        "type": "DatasetReference"
                    }
                ],
                "outputs": [
                    {
                        "referenceName": "LOS_Commercial_Financial_Blob_Networth_Query_Destination",
                        "type": "DatasetReference",
                        "parameters": {
                            "load_date": {
                                "value": "@pipeline().parameters.date2run",
                                "type": "Expression"
                            }
                        }
                    }
                ]
            },
            {
                "name": "Investment_And_Advances_To_Group_Companies",
                "type": "Copy",
                "dependsOn": [
                    {
                        "activity": "Investment_And_Advances_IF_Delete_Exists_Load_date",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "SybaseSource",
                        "query": "(select LCI.LCI_BCIF_NO AS BCIF_NO,\n    LCI.LCI_CUST_NAME AS NAME,\n    (CASE WHEN LFD_YEAR_SEQ_NO=3 THEN LFD_YEAR_3 WHEN LFD_YEAR_SEQ_NO=4 THEN LFD_YEAR_4 WHEN LFD_YEAR_SEQ_NO=5 THEN LFD_YEAR_5  ELSE 0 END)/10000000 AS Investment_And_Advances_To_Group_Companies\n\nFROM \"STG\".\"STG_LENDDB_LPCOM_CUST_INFO\"  LCI INNER JOIN \"STG\".\"STG_LENDDB_LPCOM_PROP_PARTIES\" LPP ON LPP.LPP_CUST_ID_NEW = LCI.LCI_NEW_ID \n    INNER JOIN \"STG\".\"STG_LENDDB_LPCOM_PROPOSAL\" LP ON LP.LP_PROP_NO = LPP.LPP_PROP_NO\n    INNER JOIN \"STG\".\"STG_LENDDB_LPCOM_FIN_DATA\" LFD ON LFD.LFD_CUST_NEW_ID = LCI.LCI_NEW_ID\n    INNER JOIN \"STG\".\"STG_LENDDB_LPCOM_FIN_DETAILS\" LFDS ON LFD.LFD_CMA_NO=LFDS.LFD_CMA_NO AND LFD.LFD_CUST_NEW_ID = LFDS.LFD_CUST_NEW_ID\n    INNER JOIN \"STG\".\"STG_LENDDB_LPSTP_FINMASTER\" LFM ON LFM.FIN_ROW_ID = LFD.LFD_FIN_ROW_ID\n    WHERE (LFD.LFD_FIN_ROW_ID=6897 OR LFD.LFD_FIN_ROW_ID=513576 OR LFD.LFD_FIN_ROW_ID=513657) AND LFDS.LFD_AUDIT_TYPE='A' AND LFD.LFD_CUST_NEW_ID=LCI.LCI_NEW_ID AND LFDS.LFD_FIN_PAGE = 'FI' \n--AND (LFD_YEAR_SEQ_NO = 3 OR LFD_YEAR_SEQ_NO = 4 OR LFD_YEAR_SEQ_NO = 5)\nAND (LFD_YEAR_SEQ_NO = 4 )\nAND LCI.LCI_BCIF_NO IN ('353340260','68587054','68588872','235871246','238747057','240330893','84059532','84321420','48319078','58358561','29476556','87312352') AND LCI.LCI_RECENT = 'Y' \nORDER By LFDS.LFD_END_DATE DESC)"
                    },
                    "sink": {
                        "type": "DelimitedTextSink",
                        "storeSettings": {
                            "type": "AzureBlobFSWriteSettings"
                        },
                        "formatSettings": {
                            "type": "DelimitedTextWriteSettings",
                            "quoteAllText": true,
                            "fileExtension": ".csv"
                        }
                    },
                    "enableStaging": false,
                    "parallelCopies": 1,
                    "translator": {
                        "type": "TabularTranslator",
                        "typeConversion": true,
                        "typeConversionSettings": {
                            "allowDataTruncation": true,
                            "treatBooleanAsNumber": false
                        }
                    }
                },
                "inputs": [
                    {
                        "referenceName": "LOS_Commercial_Financial_Sybase_Investment_And_Advances_To_Group_Companies_Query_Source",
                        "type": "DatasetReference"
                    }
                ],
                "outputs": [
                    {
                        "referenceName": "LOS_Commercial_Financial_Blob_Investment_And_Advances_To_Group_Companies_Query_Destination",
                        "type": "DatasetReference",
                        "parameters": {
                            "load_date": {
                                "value": "@pipeline().parameters.date2run",
                                "type": "Expression"
                            }
                        }
                    }
                ]
            },
            {
                "name": "Group_by_companies_Query_Sybase_To_Blob",
                "type": "Copy",
                "dependsOn": [
                    {
                        "activity": "Group_By_Companies_IF_Delete_Exists_Load_date",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "SybaseSource",
                        "query": "(SELECT LCI1.LCI_CUST_NAME AS CUSTNAME,LCI1.LCI_BCIF_NO AS BCIF_NO  FROM \"STG\".\"STG_LENDDB_LPCOM_PROP_PARTIES\" LPP1 \n    INNER JOIN \"STG\".\"STG_LENDDB_LPCOM_CUST_INFO\"  LCI1 ON LCI1.LCI_NEW_ID=LPP1.LPP_CUST_ID_NEW \n    INNER JOIN \"STG\".\"STG_LENDDB_LPCOM_PROPOSAL\" LP ON LP.LP_PROP_NO = LPP1.LPP_PROP_NO\n    WHERE  LCI1.LCI_BCIF_NO IN ('353340260','68587054','68588872','235871246','238747057','240330893','84059532','84321420','48319078','58358561','29476556','87312352') AND LCI1.LCI_RECENT = 'Y' \n    AND LPP1.LPP_PROP_NO=LP.LP_PROP_NO AND LPP1.LPP_CUST_TYPE='N')\n"
                    },
                    "sink": {
                        "type": "DelimitedTextSink",
                        "storeSettings": {
                            "type": "AzureBlobFSWriteSettings"
                        },
                        "formatSettings": {
                            "type": "DelimitedTextWriteSettings",
                            "quoteAllText": true,
                            "fileExtension": ".csv"
                        }
                    },
                    "enableStaging": false,
                    "parallelCopies": 1,
                    "translator": {
                        "type": "TabularTranslator",
                        "typeConversion": true,
                        "typeConversionSettings": {
                            "allowDataTruncation": true,
                            "treatBooleanAsNumber": false
                        }
                    }
                },
                "inputs": [
                    {
                        "referenceName": "LOS_Commercial_Financial_Sybase_Group_By_Companies_Query_Source",
                        "type": "DatasetReference"
                    }
                ],
                "outputs": [
                    {
                        "referenceName": "LOS_Commercial_Financial_Blob_Group_BY_Companies_Query_Destination",
                        "type": "DatasetReference",
                        "parameters": {
                            "load_date": {
                                "value": "@pipeline().parameters.date2run",
                                "type": "Expression"
                            }
                        }
                    }
                ]
            },
            {
                "name": "Adjusted_Tangible_Net_Worth_ATNW_Sybase_To_Blob",
                "type": "Copy",
                "dependsOn": [
                    {
                        "activity": "Adjusted_Tangible_Networth_IF_Delete_Exists_Load_date",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "SybaseSource",
                        "query": "(select LCI.LCI_BCIF_NO AS BCIF_NO,\n    LCI.LCI_CUST_NAME AS NAME,\n    (CASE WHEN LFD_YEAR_SEQ_NO=3 THEN LFD_YEAR_3 WHEN LFD_YEAR_SEQ_NO=4 THEN LFD_YEAR_4 WHEN LFD_YEAR_SEQ_NO=5 THEN LFD_YEAR_5  ELSE 0 END)/10000000 AS Adjusted_Tangible_Net_Worth_ATNW\n\nFROM \"STG\".\"STG_LENDDB_LPCOM_CUST_INFO\"  LCI INNER JOIN \"STG\".\"STG_LENDDB_LPCOM_PROP_PARTIES\" LPP ON LPP.LPP_CUST_ID_NEW = LCI.LCI_NEW_ID \n    INNER JOIN \"STG\".\"STG_LENDDB_LPCOM_PROPOSAL\" LP ON LP.LP_PROP_NO = LPP.LPP_PROP_NO\n    INNER JOIN \"STG\".\"STG_LENDDB_LPCOM_FIN_DATA\" LFD ON LFD.LFD_CUST_NEW_ID = LCI.LCI_NEW_ID\n    INNER JOIN \"STG\".\"STG_LENDDB_LPCOM_FIN_DETAILS\" LFDS ON LFD.LFD_CMA_NO=LFDS.LFD_CMA_NO AND LFD.LFD_CUST_NEW_ID = LFDS.LFD_CUST_NEW_ID\n    INNER JOIN \"STG\".\"STG_LENDDB_LPSTP_FINMASTER\" LFM ON LFM.FIN_ROW_ID = LFD.LFD_FIN_ROW_ID\n    WHERE (LFD.LFD_FIN_ROW_ID=7066 OR LFD.LFD_FIN_ROW_ID=513578 OR LFD.LFD_FIN_ROW_ID=513659) AND LFDS.LFD_AUDIT_TYPE='A' AND LFD.LFD_CUST_NEW_ID=LCI.LCI_NEW_ID AND LFDS.LFD_FIN_PAGE = 'FI' \n--AND (LFD_YEAR_SEQ_NO = 3 OR LFD_YEAR_SEQ_NO = 4 OR LFD_YEAR_SEQ_NO = 5)\nAND (LFD_YEAR_SEQ_NO = 4 )\nAND LCI.LCI_BCIF_NO IN ('353340260','68587054','68588872','235871246','238747057','240330893','84059532','84321420','48319078','58358561','29476556','87312352') AND LCI.LCI_RECENT = 'Y' \nORDER By LFDS.LFD_END_DATE DESC)"
                    },
                    "sink": {
                        "type": "DelimitedTextSink",
                        "storeSettings": {
                            "type": "AzureBlobFSWriteSettings"
                        },
                        "formatSettings": {
                            "type": "DelimitedTextWriteSettings",
                            "quoteAllText": true,
                            "fileExtension": ".csv"
                        }
                    },
                    "enableStaging": false,
                    "parallelCopies": 1,
                    "translator": {
                        "type": "TabularTranslator",
                        "typeConversion": true,
                        "typeConversionSettings": {
                            "allowDataTruncation": true,
                            "treatBooleanAsNumber": false
                        }
                    }
                },
                "inputs": [
                    {
                        "referenceName": "LOS_Commercial_Financial_Sybase_Adjusted_Tangible_Net_Worth_ATNW_Query_Source",
                        "type": "DatasetReference"
                    }
                ],
                "outputs": [
                    {
                        "referenceName": "LOS_Commercial_Financial_Blob_Adjusted_Tangible_Net_Worth_ATNW_Query_Destination",
                        "type": "DatasetReference",
                        "parameters": {
                            "load_date": {
                                "value": "@pipeline().parameters.date2run",
                                "type": "Expression"
                            }
                        }
                    }
                ]
            },
            {
                "name": "Turnover_Delete_if_Exists_load_date",
                "type": "ExecutePipeline",
                "dependsOn": [],
                "policy": {
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "pipeline": {
                        "referenceName": "Check_Blob_Load_date_wise_Delete_Activity_pipeline",
                        "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                        "date2run": {
                            "value": "@pipeline().parameters.date2run",
                            "type": "Expression"
                        },
                        "Blob_File_Path_Location": {
                            "value": "@variables('Turnover_Blob_Path')",
                            "type": "Expression"
                        }
                    }
                }
            },
            {
                "name": "Debtors_For_Current_IF_Delete_Exists_load_date",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "Turnover_Query_Sybase_To_Blob",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "pipeline": {
                        "referenceName": "Check_Blob_Load_date_wise_Delete_Activity_pipeline",
                        "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                        "date2run": {
                            "value": "@pipeline().parameters.date2run",
                            "type": "Expression"
                        },
                        "Blob_File_Path_Location": {
                            "value": "@variables('Debtors_For_Current_Receivables')",
                            "type": "Expression"
                        }
                    }
                }
            },
            {
                "name": "Debtors_For_Receivables_More_Than_6M_IF_Delete_Exists",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "Debtors_For_Current_Receivables_Query_Sybase_To_Blob",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "pipeline": {
                        "referenceName": "Check_Blob_Load_date_wise_Delete_Activity_pipeline",
                        "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                        "date2run": {
                            "value": "@pipeline().parameters.date2run",
                            "type": "Expression"
                        },
                        "Blob_File_Path_Location": {
                            "value": "@variables('Debtors_For_Current_Receivables_More_Than_6M')",
                            "type": "Expression"
                        }
                    }
                }
            },
            {
                "name": "Creditors_IF_Delete_Exists_Load_date",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "Debtors_For_Receivables_More_Than_6M_Sybase_To_Blob",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "pipeline": {
                        "referenceName": "Check_Blob_Load_date_wise_Delete_Activity_pipeline",
                        "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                        "date2run": {
                            "value": "@pipeline().parameters.date2run",
                            "type": "Expression"
                        },
                        "Blob_File_Path_Location": {
                            "value": "@variables('creditors')",
                            "type": "Expression"
                        }
                    }
                }
            },
            {
                "name": "Networth_IF_Delete_Exists_Load_date",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "Creditors_Query_Sybase_To_Blob",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "pipeline": {
                        "referenceName": "Check_Blob_Load_date_wise_Delete_Activity_pipeline",
                        "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                        "date2run": {
                            "value": "@pipeline().parameters.date2run",
                            "type": "Expression"
                        },
                        "Blob_File_Path_Location": {
                            "value": "@variables('Networth')",
                            "type": "Expression"
                        }
                    }
                }
            },
            {
                "name": "Investment_And_Advances_IF_Delete_Exists_Load_date",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "Networth_Query_Sybase_To_Blob",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "pipeline": {
                        "referenceName": "Check_Blob_Load_date_wise_Delete_Activity_pipeline",
                        "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                        "date2run": {
                            "value": "@pipeline().parameters.date2run",
                            "type": "Expression"
                        },
                        "Blob_File_Path_Location": {
                            "value": "@variables('Investment_And_Advances')",
                            "type": "Expression"
                        }
                    }
                }
            },
            {
                "name": "Group_By_Companies_IF_Delete_Exists_Load_date",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "Investment_And_Advances_To_Group_Companies",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "pipeline": {
                        "referenceName": "Check_Blob_Load_date_wise_Delete_Activity_pipeline",
                        "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                        "date2run": {
                            "value": "@pipeline().parameters.date2run",
                            "type": "Expression"
                        },
                        "Blob_File_Path_Location": {
                            "value": "@variables('Group_By_Companies')",
                            "type": "Expression"
                        }
                    }
                }
            },
            {
                "name": "Adjusted_Tangible_Networth_IF_Delete_Exists_Load_date",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "Group_by_companies_Query_Sybase_To_Blob",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "pipeline": {
                        "referenceName": "Check_Blob_Load_date_wise_Delete_Activity_pipeline",
                        "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                        "date2run": {
                            "value": "@pipeline().parameters.date2run",
                            "type": "Expression"
                        },
                        "Blob_File_Path_Location": {
                            "value": "@variables('Adjusted_Tangible_Networth_IF_Delete_Exists_Load_date')",
                            "type": "Expression"
                        }
                    }
                }
            }
        ],
        "parameters": {
            "date2run": {
                "type": "string",
                "defaultValue": "yyyyMMdd"
            }
        },
        "variables": {
            "Turnover_Blob_Path": {
                "type": "String",
                "defaultValue": "DERIVED_DATASETS/LOS_COMMERCIAL_FINANCIAL_TURNOVER/load_date="
            },
            "Debtors_For_Current_Receivables": {
                "type": "String",
                "defaultValue": "DERIVED_DATASETS/LOS_COMMERCIAL_FINANCIAL_DEBTORS_FOR_CURRENT_RECEIVABLES/load_date="
            },
            "Debtors_For_Current_Receivables_More_Than_6M": {
                "type": "String",
                "defaultValue": "DERIVED_DATASETS/LOS_COMMERCIAL_FINANCIAL_DEBTORS_FOR_RECEIVABLES_MORE_THAN_6M/load_date="
            },
            "creditors": {
                "type": "String",
                "defaultValue": "DERIVED_DATASETS/LOS_COMMERCIAL_FINANCIAL_CREDITORS/load_date="
            },
            "Networth": {
                "type": "String",
                "defaultValue": "DERIVED_DATASETS/LOS_COMMERCIAL_FINANCIAL_NETWORTH/load_date="
            },
            "Investment_And_Advances": {
                "type": "String",
                "defaultValue": "DERIVED_DATASETS/LOS_COMMERCIAL_FINANCIAL_INVESTMENT_AND_ADVANCES_TO_GROUP_COMPANIES/load_date="
            },
            "Group_By_Companies": {
                "type": "String",
                "defaultValue": "DERIVED_DATASETS/LOS_COMMERCIAL_FINANCIAL_GROUP_BY_COMPANIES/load_date="
            },
            "Adjusted_Tangible_Networth_IF_Delete_Exists_Load_date": {
                "type": "String",
                "defaultValue": "DERIVED_DATASETS/LOS_COMMERCIAL_FINANCIAL_ADJUSTED_TANGIBLE_NET_WORTH_ATNM/load_date="
            }
        },
        "folder": {
            "name": "stag2landing_deriveddatasets"
        },
        "annotations": [],
        "lastPublishTime": "2022-08-04T04:31:32Z"
    },
    "type": "Microsoft.DataFactory/factories/pipelines"
}